@page "/video"
@inherits VideoPlayerPageBase
@inject IJSRuntime JSRuntime

<div>
	<div>
		<video id="my-video"
			   class="video-js"
			   controls
			   preload="auto"
			   width="1280"
			   height="720"
			   data-setup="{}">
			<p class="vjs-no-js">
				To view this video please enable JavaScript, and consider upgrading to a
				web browser that
				<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			</p>
		</video>
	</div>

	<div>
		@if (this.Paused && this.PausedFrameBase64 != null)
		{
			<img src="@this.PausedFrameBase64" />
		}
	</div>
</div>

@code{
	protected override async Task OnInitializedAsync()
	{
		await this.InitializeAsync();
	}

	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		if (_payload != null)
		{
			await JSRuntime.InvokeVoidAsync("Orions.Player.setSrc", _payload, DotNetObjectReference.Create(this));
		}
	}
}
