.orions-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.orions-mission-analytics-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-width: 600px;
	flex-wrap: nowrap;
}

	.orions-mission-analytics-header div {
		margin-right: 10px;
		width: 100%;
	}

	.orions-mission-analytics-header button {
		width: 100px;
	}

.orions-mission-analytics-progress {
	width: 100%;
	min-width: 600px;
	margin-top: 1rem;
}

	.orions-mission-analytics-progress .line-2 {
		width: 100%;
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.orions-mission-analytics-progress .line-2 .chart{
		width: 23%;
		min-height: 200px;
		background-color: #eee;
		margin-right: 1rem;
	}

.orions-mission-analytics-stats {
	width: 100%;
	min-width: 600px;
	margin-top: 1rem;
}

.orions-mission-stats-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

	.orions-mission-stats-items div.item {
		border: #efefef solid 1px;
		min-width: 160px;
		text-align: center;
		margin-bottom: 10px;
		margin-right: 10px;
	}

	.orions-mission-stats-items span.label {
		font-weight: 500;
		font-size: 0.8rem;
		padding: 5px 0;
		border-bottom: #efefef solid 1px;
		background-color: #f6f6f6;
		display: block;
	}

	.orions-mission-stats-items span.value {
		padding: 5px 0;
		font-size: 0.8rem;
		display: block;
	}

.sparkline div .ibox {
	margin-bottom: 0px;
}

.sparkline {
	margin-top: 15px;
}

#missionProgressTitle img,
#missionStatisticTitle img {
	height: 40px;
	margin-right: 10px;
}

h2#missionProgressTitle, h2#missionStatisticTitle {
	margin-top: 5px;
	margin-bottom: 2px;
}

#session-log,
#new-taggers-log,
#exploitation-saturation-log,
#completion-percent-log {
	width: 100%;
}

.dropdown-item {
	padding: 4px 8px !important;
}

.ui-loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	left: 0;
	top: 0;
	z-index: 1000
}

	.ui-loading div {
		animation: loading 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
		-webkit-animation: loading 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
		-moz-animation: loading 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
		width: 50px;
		height: 50px;
		background-color: black;
		position: absolute;
		left: 50%;
		top: 50%;
		border-radius: 100px;
		margin-left: -25px;
		margin-top: -25px;
	}

.ui-loading-firstload {
	background: black
}

.lds-spinner {
	color: official;
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

	.lds-spinner div {
		transform-origin: 32px 32px;
		animation: lds-spinner 1.2s linear infinite;
	}

		.lds-spinner div:after {
			content: " ";
			display: block;
			position: absolute;
			top: 3px;
			left: 29px;
			width: 5px;
			height: 14px;
			border-radius: 20%;
			background: #fff;
		}

		.lds-spinner div:nth-child(1) {
			transform: rotate(0deg);
			animation-delay: -1.1s;
		}

		.lds-spinner div:nth-child(2) {
			transform: rotate(30deg);
			animation-delay: -1s;
		}

		.lds-spinner div:nth-child(3) {
			transform: rotate(60deg);
			animation-delay: -0.9s;
		}

		.lds-spinner div:nth-child(4) {
			transform: rotate(90deg);
			animation-delay: -0.8s;
		}

		.lds-spinner div:nth-child(5) {
			transform: rotate(120deg);
			animation-delay: -0.7s;
		}

		.lds-spinner div:nth-child(6) {
			transform: rotate(150deg);
			animation-delay: -0.6s;
		}

		.lds-spinner div:nth-child(7) {
			transform: rotate(180deg);
			animation-delay: -0.5s;
		}

		.lds-spinner div:nth-child(8) {
			transform: rotate(210deg);
			animation-delay: -0.4s;
		}

		.lds-spinner div:nth-child(9) {
			transform: rotate(240deg);
			animation-delay: -0.3s;
		}

		.lds-spinner div:nth-child(10) {
			transform: rotate(270deg);
			animation-delay: -0.2s;
		}

		.lds-spinner div:nth-child(11) {
			transform: rotate(300deg);
			animation-delay: -0.1s;
		}

		.lds-spinner div:nth-child(12) {
			transform: rotate(330deg);
			animation-delay: 0s;
		}

@keyframes lds-spinner {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
