.video-player-overlay {
	position: absolute !important;
	width: 100%;
	height: calc(100% - 30px);
	z-index: 9999;
	background: rgba(242, 242, 242, 0.2);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	$red: #de0000;

	.overlay-message {
		margin-bottom: 12px;
		color: $red;
		font-weight: 500;
	}

	.video-overlay-dots-loader .sk-flow-dot {
		background-color: $red;
	}
}
