
/* Property page*/

#selected-property {
	margin-top: 20px;
	font-size: 14px;
	text-transform: uppercase;

	.property-banner {
		/*width: 100%;*/
		img {
			width: 100%;
			margin: 0 20px;
			border: 1px solid #858484;
			padding: 10px;
		}
	}

	.property-container {
		letter-spacing: 1px;
		margin: 0 25px;

		.property-title {
			display: flex;
			padding-top: 8px;

			span {
				display: inline-flex;
				margin: auto;
				margin-bottom: 11px;
				text-transform: uppercase;
				color: #bebebe;
				font-size: 23px;
			}
		}

		.collapse-prop {
			position: absolute;
			height: 20px;
			width: 20px;
			right: 0px;
			cursor: pointer;

			polyline {
				fill: #bebebe;
			}
		}

		.property-visitors, .property-users {
			margin: 0px 4px;
		}

		.icon {
			display: inline-flex;
			width: 16px;
			height: 16px;
			vertical-align: middle;

			img {
				width: 16px;
				height: 16px;
			}
		}

		.stat-progress {
			background-color: #bcc0cc;
			display: inline-flex;
			height: 6px;
			border-radius: 10px;
			vertical-align: middle;
			margin-left: 4px;
			max-width: 85%;
		}

		.stat-value {
			vertical-align: middle;
		}

		.property-hour-clock {
			line-height: 20px;
			margin: 0px 4px;
		}
	}

	.property-action {
		margin: 20px 10px;
	}
}

.property-card {
	.day-icon img {
		content: url("/icons/calander copy@5x.png");
	}

	.active-property .day-icon img {
		content: url("/icons/calander@5x.png");
	}

	.week-icon img, .active-property .week-icon img {
		content: url("/icons/week icon@5x.png");
	}

	.month-icon img {
		content: url("/icons/month icon copy 2@5x.png");
	}

	.active-property .month-icon img {
		content: url("/icons/month icon@5x.png");
	}

	.min-hour-icon img, .active-property .min-hour-icon img {
		content: url("/icons/min hour clock@5x.png");
	}
}

#selected-property .property-container {
	.property-notification {
		margin: 0px 4px;

		.warning {
			font-size: 14px;
			vertical-align: middle;
		}
	}

	.small-text {
		font-size: 10px;
	}

	.property-updated {
		margin: 0px 4px;
		padding-bottom: 8px;
	}
}

.property-card {
	margin-top: 60px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 10px;

	.property-container {
		margin: 0px 20px;
		cursor: pointer;
		box-shadow: 0 8px 6px -6px rgba(163, 163, 163, 1);

		&:hover {
			-webkit-box-shadow: 0px 0px 10px 4px rgba(163, 163, 163, 1) !important;
			-moz-box-shadow: 0px 0px 10px 4px rgba(163, 163, 163, 1) !important;
			box-shadow: 0px 0px 10px 4px rgba(163, 163, 163, 1) !important;
		}

		.property-title {
			display: flex;
			padding-top: 8px;

			a {
				margin: 0 auto;
				text-align: center;
				text-decoration: none;
				font-size: .6rem;
			}
		}
	}

	.active-property .property-title a {
		color: #365c7e !important;
		/*font: caption;*/
	}

	.property-container {
		.property-title a span {
			display: flex;
			width: 40%;
			border-top: solid 0.06rem;
			margin: 0 auto;
			margin-top: 10px;
		}

		.property-banner {
			padding-top: 16px;

			img {
				width: 100%;
			}
		}
	}
}

.coming-soon {
	display: flex;
	padding: 4px;
	opacity: .5;

	span {
		display: inline-flex;
		margin: auto;
	}
}

/* End Property page*/
