@inherits DashboardComponent<TagReviewWidgetVm, TagReviewWidget>
@using Orions.Common;
@using Orions.Infrastructure.HyperMedia;
@using Orions.Systems.CrossModules.Components;

<div class="metadata-review-widget">

	<TitleCard Settings="Widget.TitleSettings"></TitleCard>

	@if (Widget.MetadataSetId != null && Vm != null)
	{
		<TagReviewComponent Vm="@Vm.TagReviewVm.Value" />
	}
	else
	{
		<span>Metadata set has not been selected.</span>
	}
</div>

@code{
	protected override async Task OnInitializedAsync()
	{

		var store = this.HyperStore;

		this.Vm.TagReviewVm.Value.ColumnsNumber = this.Widget.ColumnsNumber;
		this.Vm.TagReviewVm.Value.InitialRowsNumber = this.Widget.InitialRowsNumber;
		this.Vm.TagReviewVm.Value.HeatmapSettings = this.Widget.HeatmapSettings;
		await this.Vm.TagReviewVm.Value.Initialize(store, Widget.MetadataSetId.Value.Id, Widget.ColumnsNumber * Widget.InitialRowsNumber);

		
	}
}

<style>
	.metadata-review-widget a.page-link {
		color: #495057;
	}

	.metadata-review-widget .page-item.active .page-link {
		background-color: #343a40;
		border: 1px solid #6c757d;
	}

	.metadata-review-widget .page-item.active a.page-link {
		color: #dee2e6;
	}
</style>
