@namespace Orions.Systems.CrossModules.Components
@using Orions.Infrastructure.HyperMedia

@inherits TagGridBase

	<div class="fluid-container">
		<div class="row">
			@{
				var tagEnumerator = this.HyperTags.GetEnumerator();
				HyperTag tag;

				while (tagEnumerator.MoveNext())
				{
					@for (int colIndex = 1; colIndex <= this.ColumnsNumber; colIndex++)
					{
						{
							tag = tagEnumerator.Current;


						}
						@if (tag != null)
						{
							<div class="col widget-container">
								<Tag Tag="@tag" HyperStore="@HyperStore" DashApiPort="@DashApiPort"/>
							</div>
						}
						{
							if (colIndex != ColumnsNumber) // we don't need to move to the next element since its the last element in the row and MoveNext is gonna be called in "while" loop above
							{
								var nextColumnExists = tagEnumerator.MoveNext();
								if (!nextColumnExists)
								{
									<div class="col"></div>
								}
							}
						}
					}
					<div class="w-100"></div>
				}
			}
			</div>
	</div>

<style>
    .widget-container{
        margin-bottom:20px;

    }
    .widget-placeholder {
        height: 300px;
        background-color: blueviolet;
        border-radius: 4px;
    }
</style>