@namespace Orions.Systems.CrossModules.Components

@inherits BaseBlazorComponent

@if (DashboardVm.Source.Rows.Any())
{

   @foreach (var row in DashboardVm.Source.Rows)
   {
      <div class="row">
         @foreach (var column in row.Columns)
         {
            <div @key="column.Id" class="col-lg-@column.Size">

               <div class="dashboard-element-container-live">
                  <div class="dashboard-content-live">
                     @if (column.Widget != null && column.Widget.IsVisibile)
                     {
                        <WidgetDynamicComponent @key="column.Widget.Id"
                                                DataContext="@DashboardVm.ObtainWidgetVm(column.Widget)"
                                                DashboardVm="DashboardVm" />
                     }
                  </div>
               </div>
            </div>
         }
      </div>
   }
}

@code{

   [Parameter]
   public DashboardVm DashboardVm { get; set; }

}

@if (DashboardVm.Source.EnableStyles)
{
   @((MarkupString)DashboardVm.Source.Styles)
}