@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<SimpleHtmlVm, SimpleHtmlWidget>

<div class="widget-content-report">

	<TitleCard Settings="Widget.TitleSettings"></TitleCard>

	<div class="widget-content-report-view">
		<section>
			@((MarkupString)Vm.Widget.RawHtml)
		</section>
	</div>
</div>

@code {
}

<style>
		.widget-content-report-view section {
			/*color: #018786;*/
			font-size: 14px;
		}

		.widget-content-report-view p {
			text-align: justify;
		}
</style>
