@using Orions.Systems.CrossModules.Desi.Components.TabSet;
@using Orions.Systems.CrossModules.Components.Desi.VizList;
@using Orions.Systems.CrossModules.Desi.Components.TaskNavigation;
@using Orions.Systems.CrossModules.Desi.Components.TagPreview;
@using Orions.Systems.CrossModules.Desi.Components.TaggingSurface;
@using Orions.Systems.CrossModules.Desi.Components;
@using Orions.Systems.CrossModules.Desi.Components.Minimap;

@attribute [Microsoft.AspNetCore.Components.RouteAttribute(Routes.Tagging)]

@layout EmptyLayout
@inherits TaggingPageBase
@namespace Orions.Systems.CrossModules.Desi.Pages


@if (this.Vm != null)
{
	<div class="tagging-page-container">
		<ExploitationTimerWidget />
		<div class="bottom-row">
			<div class="left-column">
				<div class="top-area">
					<div class="mission-description">
						<div class="mission-title">
							@this.Vm.Mission.TitleShorten
						</div>
						<div class="mission-status">
							@this.Vm.Mission.TitleDetails
						</div>
						<div class="mission-run">
							Started at: @this.Vm.Mission.MissionRunStartUTC.ToString()
						</div>
					</div>
					<div class="tabs-control">
						<TabSet>
							<Tab Active="true" Title="Tags">
								<TagsPreviewControl EditTagCommand="this.Vm.EditTagCommand"
													RemoveTagCommand="this.Vm.RemoveTagCommand" />
							</Tab>
							<Tab Title="Tracking">Tracking content</Tab>
							<Tab Title="Segmentation">Segmentation content</Tab>
						</TabSet>
					</div>
				</div>
				<MinimapControl />
				<button class="exit-button" @onclick="() => this.Vm.CompleteProcessingCommand.Execute(null)">Save & Exit</button>
			</div>
			<div class="right-column">
				@if (Vm.TasksData?.Tasks != null && Vm.TasksData.CurrentTask != null)
				{
					{
						<TaskNavigationWidget />

						<TaggingSurface @ref="TaggingSurface">

							<VizListComponent CssClass="vizlist-positioned"
											  VizListRendered="this.OnVizListRendered">
							</VizListComponent>
						</TaggingSurface>
					}
				}
				else
				{
					<Orions.Systems.CrossModules.Desi.Components.DotsLoader CssClass="tagging-content-loader" />
				}
			</div>
		</div>
	</div>
}

<style>
	.vizlist-positioned {
		position: absolute;
		z-index: 100;
	}
</style>
