@namespace Orions.Systems.CrossModules.Desi.Shared
@using Orions.Systems.CrossModules.Desi.Debug.Infrastructure;
@using Orions.Systems.Desi.Common.Authentication;
@using System.Reactive.Linq;
@using Orions.Systems.CrossModules.Desi.Debug.Pages;
@inherits LayoutComponentBase

<div class="main">
	<div class="top-row">
		<img class="logo" src="images/desi_logo.png" />
	</div>

	<div class="content">
		<div class="side-bar"></div>
		<div class="page-content">
			<div class="body-container">
				@Body
			</div>
			<div class="footer">
				<div class="footer-logo">
					<img class="logo" src="images/desi_logo.png" />
				</div>
				<div class="site-map">
					<div class="map-items-column">
						<div>
							<a href="#">Support</a>
						</div>
						<div>
							<a href="#">FAQ</a>
						</div><div>
							<a href="#">Privacy</a>
						</div><div>
							<a href="#">Site Map</a>
						</div>
					</div>
					<div class="map-items-column">
						<div>
							<a href="#">About</a>
						</div>
						<div>
							<a href="#">How it works</a>
						</div><div>
							<a href="#">Contacts</a>
						</div>
					</div>
				</div>
				<div class="logout">
					<a @onclick="this.Logout">Logout</a>
				</div>
			</div>
		</div>

	</div>
</div>

@code{
	[Inject]
	public BlazorDependencyResolver DependencyResolver { get; set; }

	[Inject]
	public NavigationManager NavigationManager { get; set; }

	public MainLayout()
	{
	}

	protected override void OnInitialized()
	{
		var authSystem = DependencyResolver.GetAuthenticationSystem();
		var navigationService = new NavigationService(NavigationManager);
		authSystem.Store.AuthenticationStatusChanged.Where(i => i == AuthenticationStatus.LoggedOut).Subscribe(_ => navigationService.GoToLoginPage());
	}

	public void Logout()
	{
		var authSystem = DependencyResolver.GetAuthenticationSystem();
		authSystem.Controller.Dispatch(LogoutAction.Create());
	}
}
