@namespace Orions.Systems.CrossModules.Components

@inherits BaseTabItem

	<div @key="@Id" data-effeckt-page="@Name" class="pt-page @AnimationClass @Class @(Active ? "pt-page-current" : "")">
		@ChildContent
	</div>
