@using Orions.Systems.CrossModules.Components.Desi.Infrastructure;
@inherits BaseComponent

<div style="text-align:center;width:100%" class="@CssClass">
	<div class="sk-flow" style="margin:auto">
		<div class="sk-flow-dot"></div>
		<div class="sk-flow-dot"></div>
		<div class="sk-flow-dot"></div>
	</div>
</div>

@code{
	[Parameter]
	public string CssClass { get; set; }
}