html {
  height: 100%;
  width: 100%; }

body {
  height: 100%; }

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; }

.top-row {
  width: 100%;
  height: 80px;
  box-shadow: 0 0px 10px #cccccc;
  z-index: 2;
  position: relative;
  display: flex;
  padding-right: 8px; }
  .top-row .logo {
    height: 50px;
    margin: 15px; }
  .top-row button {
    margin-left: auto;
    border-style: hidden;
    background-color: transparent; }
    .top-row button:hover {
      border-style: hidden;
      outline: none;
      transform: scale(1.03); }
    .top-row button:active {
      border-style: hidden;
      outline: none;
      transform: scale(0.95); }
    .top-row button:focus {
      border-style: hidden;
      outline: none; }

.content {
  display: flex;
  align-items: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%; }
  .content .side-bar {
    width: 66px;
    position: relative;
    z-index: 3;
    background-color: #4a4d54; }
  .content .body-container {
    flex: 1;
    overflow: hidden; }
  .content .page-content {
    background-color: #fafafa;
    width: calc(100% - 66px);
    padding-top: 13px;
    display: flex;
    flex-direction: column; }
    .content .page-content .footer {
      margin-top: 15px;
      display: flex;
      background-color: #1e1e1e; }
      .content .page-content .footer a {
        color: #7e7e7e;
        padding-bottom: 3px;
        cursor: pointer; }
      .content .page-content .footer .footer-logo .logo {
        height: 50px;
        margin: 15px; }
      .content .page-content .footer .site-map {
        display: flex;
        flex: 1; }
        .content .page-content .footer .site-map .map-items-column {
          padding: 10px; }
      .content .page-content .footer .app-version {
        color: #7e7e7e;
        align-items: flex-end;
        flex-direction: row;
        display: flex;
        padding: 10px; }
      .content .page-content .footer .logout {
        margin: 15px; }

.navigation-bar {
  z-index: 3;
  height: 30px; }
  .navigation-bar .back-btn {
    width: 66px;
    background-color: #0078d7;
    background-image: url("../images/baseline_arrow_back_white_18dp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 30px;
    border: none;
    outline: none; }

.layout-stage-tagging {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border: none; }
  .layout-stage-tagging .page-content {
    overflow: hidden;
    height: 100%; }

.img-no-error {
  position: relative; }
  .img-no-error::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: ""; }

.toggleContainer input[type=checkbox] {
  display: none; }

.toggleContainer .q {
  font-size: 15px;
  margin-bottom: 6px; }

.toggleContainer label {
  display: block;
  width: 50px;
  height: 20px;
  border: 2px solid #333333;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.toggleContainer label:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: #333;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.toggleContainer label:hover {
  border: 2px solid #000; }

.toggleContainer label:hover:after {
  background: #000; }

.toggleContainer label:active {
  border: 2px solid #666666;
  background: #666; }

.toggleContainer label:active:after {
  background: #fff; }

.toggleContainer label:before {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  white-space: nowrap;
  position: absolute;
  left: 60px;
  top: -2px;
  font-size: 15px; }

.toggleContainer input[type=checkbox] + label:before {
  content: attr(data-off); }

.toggleContainer input[type=checkbox]:checked + label:before {
  content: attr(data-on); }

.toggleContainer input[type=checkbox]:checked + label {
  border: 2px solid #b6b6b6;
  background: #b6b6b6; }

.toggleContainer input[type=checkbox]:checked + label:hover {
  border: 2px solid #b6b6b6;
  background: #b6b6b6; }

.toggleContainer input[type=checkbox]:checked + label:after {
  left: 33px;
  background: #FFF; }

.toggleContainer input[type=checkbox]:checked + label:active {
  border: 2px solid #666666;
  background: #666; }

.toggleContainer input[type=checkbox]:checked + label:active:after {
  background: #fff; }

.enter-btn {
  border-radius: 4px;
  background-color: #4d5f87;
  padding: 8px;
  color: #f8f9fa;
  width: 200px;
  height: 40px;
  border: 0;
  text-align: left; }
  .enter-btn svg {
    height: 40px;
    float: right;
    color: white;
    border-left: 1px solid #414f6a;
    margin-top: -8px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #f8f9fa; }
  .enter-btn[disabled] {
    background-color: #7a87a5;
    color: #a0a7b6; }
    .enter-btn[disabled] svg {
      border-color: #a0a7b6; }

.tagging-video-player-container {
  height: 100%;
  width: 100%;
  position: absolute; }
  .tagging-video-player-container .frame-couner-container {
    height: 60px;
    display: flex; }
    .tagging-video-player-container .frame-couner-container .go-to-previous-frame-btn, .tagging-video-player-container .frame-couner-container .go-to-next-frame-btn {
      height: 100%;
      cursor: pointer; }
      .tagging-video-player-container .frame-couner-container .go-to-previous-frame-btn img, .tagging-video-player-container .frame-couner-container .go-to-next-frame-btn img {
        height: 100%; }
    .tagging-video-player-container .frame-couner-container .frame-info {
      height: 100%;
      flex: 1;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center; }
  .tagging-video-player-container .video-player {
    height: calc(100% - 60px - 60px);
    width: 100%; }
    .tagging-video-player-container .video-player .video-js {
      width: 100%;
      height: 100%; }
  .tagging-video-player-container .video-control-bar {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white; }
    .tagging-video-player-container .video-control-bar > div {
      height: 100%; }
    .tagging-video-player-container .video-control-bar .control-autohide {
      visibility: hidden; }
    .tagging-video-player-container .video-control-bar .button {
      cursor: pointer;
      background: none;
      outline: none;
      border: none;
      padding: 0;
      width: 60px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center; }
    .tagging-video-player-container .video-control-bar .playback-speed {
      align-items: center;
      display: flex;
      padding: 10px;
      position: relative;
      width: 50px;
      text-align: center;
      cursor: pointer; }
      .tagging-video-player-container .video-control-bar .playback-speed .current-speed {
        width: 100%; }
      .tagging-video-player-container .video-control-bar .playback-speed .speed-options {
        position: absolute;
        background: #181818;
        bottom: 60px;
        left: 0;
        z-index: 9999;
        width: 50px; }
        .tagging-video-player-container .video-control-bar .playback-speed .speed-options .speed-opt {
          padding: 5px;
          cursor: pointer; }
          .tagging-video-player-container .video-control-bar .playback-speed .speed-options .speed-opt.active {
            background: #787878; }
    .tagging-video-player-container .video-control-bar .sound-control {
      position: relative; }
      .tagging-video-player-container .video-control-bar .sound-control .volume-slider {
        position: absolute;
        height: 100px;
        top: -100px;
        width: 60px;
        background: #181818;
        z-index: 9999; }
        .tagging-video-player-container .video-control-bar .sound-control .volume-slider .e-control-wrapper.e-slider-container.e-vertical {
          height: 100%;
          padding: 10px 0; }
        .tagging-video-player-container .video-control-bar .sound-control .volume-slider .e-slider-track {
          background-color: #787878; }
        .tagging-video-player-container .video-control-bar .sound-control .volume-slider .e-handle {
          background-color: white; }
        .tagging-video-player-container .video-control-bar .sound-control .volume-slider .e-range {
          background-color: white; }
    .tagging-video-player-container .video-control-bar .time-left {
      display: flex;
      align-items: center;
      padding: 10px; }
    .tagging-video-player-container .video-control-bar .time-right {
      padding: 10px;
      align-items: center;
      display: flex; }
    .tagging-video-player-container .video-control-bar .timeline {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      position: relative; }
      .tagging-video-player-container .video-control-bar .timeline .time-markers {
        position: absolute;
        width: 100%;
        height: 5px;
        background: transparent; }
        .tagging-video-player-container .video-control-bar .timeline .time-markers.time-markers-top {
          top: 17px; }
        .tagging-video-player-container .video-control-bar .timeline .time-markers.time-markers-bottom {
          bottom: 17px; }
        .tagging-video-player-container .video-control-bar .timeline .time-markers .marker {
          position: absolute;
          width: 1px;
          background-color: gray; }
          .tagging-video-player-container .video-control-bar .timeline .time-markers .marker.dash {
            height: 6px; }
          .tagging-video-player-container .video-control-bar .timeline .time-markers .marker.dot {
            top: 2px;
            height: 1px; }
      .tagging-video-player-container .video-control-bar .timeline .time-fill {
        display: flex;
        flex-direction: row;
        height: 10px;
        position: relative;
        z-index: 1; }
        .tagging-video-player-container .video-control-bar .timeline .time-fill .time-played {
          background-color: #4D5F83; }
        .tagging-video-player-container .video-control-bar .timeline .time-fill .current-pos-indicator {
          position: absolute;
          height: 30px;
          transform: translateX(-5px);
          display: flex;
          flex-direction: column;
          align-items: center;
          top: -10px; }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .current-pos-indicator .triangle-down {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid white;
            transform: translateY(2px); }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .current-pos-indicator .line {
            width: 2px;
            height: 30px;
            background: white; }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .current-pos-indicator .triangle-up {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid white;
            transform: translateY(-2px); }
        .tagging-video-player-container .video-control-bar .timeline .time-fill .time-to-play {
          background-color: #FE8D63; }
        .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background: transparent;
          z-index: 1;
          display: flex;
          align-items: center; }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .marker {
            background-color: white;
            position: absolute;
            width: 7px;
            height: 7px;
            transform: translateX(-3.5px) rotate(45deg); }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .tracking-sequence-start-marker, .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .tracking-sequence-end-marker, .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .tracking-sequence-intermediate-element-marker {
            height: 30px;
            background-color: transparent;
            position: absolute;
            border-top: 1px solid yellow;
            border-bottom: 1px solid yellow; }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .tracking-sequence-start-marker {
            width: 7px;
            border-left: 1px solid yellow; }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .tracking-sequence-end-marker {
            width: 7px;
            border-right: 1px solid yellow;
            transform: translateX(-7px); }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .tracking-sequence-intermediate-element-marker {
            width: 1px;
            background-color: yellow; }
          .tagging-video-player-container .video-control-bar .timeline .time-fill .markers-overlay .current-selected-tracking-sequence-timeline-segment {
            position: absolute;
            height: 30px;
            background: green;
            opacity: 0.3; }

.popper-node-ui-element-popup {
  display: none;
  padding: 10px;
  background: whitesmoke;
  z-index: 99999;
  border: 1px solid #cccccc; }
  .popper-node-ui-element-popup img {
    max-width: 700px; }
  .popper-node-ui-element-popup .description {
    width: 100%; }

.vizlist-main-container {
  display: flex; }
  .vizlist-main-container .viz-container {
    background-color: #DEDEDE;
    border-radius: 8px;
    overflow: hidden;
    display: table;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5); }
  .vizlist-main-container .properties {
    margin-left: 16px; }
  .vizlist-main-container .title {
    height: 40px;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 18px;
    color: #4D5F87;
    padding: 8px;
    margin-bottom: 1px; }
  .vizlist-main-container .paths {
    cursor: grab;
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    grid-gap: 1px; }
    .vizlist-main-container .paths .path-container {
      height: 24px;
      display: flex; }
    .vizlist-main-container .paths .finished {
      background-color: #525252; }
    .vizlist-main-container .paths .current {
      background-color: #787878; }
  .vizlist-main-container .nodes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, auto);
    grid-gap: 1px; }
  .vizlist-main-container .nodes {
    height: 40px;
    background-color: #F5F5F5;
    font-size: 16px;
    color: #181818;
    padding: 8px;
    display: flex; }
    .vizlist-main-container .nodes img {
      height: 16px;
      width: 16px;
      margin-right: 8px; }
    .vizlist-main-container .nodes svg {
      fill: #181818;
      height: 16px;
      margin-left: auto; }
    .vizlist-main-container .nodes .key {
      height: 24px;
      background-color: #FE8D63;
      color: #F5F5F5;
      font-size: 14px;
      border-radius: 4px;
      text-align: center;
      margin-right: 8px; }
      .vizlist-main-container .nodes .key svg {
        fill: #F5F5F5; }
    .vizlist-main-container .nodes .node {
      width: 24px;
      padding-top: 2px; }
    .vizlist-main-container .nodes .property {
      padding: 2px; }
  .vizlist-main-container .viz-btn {
    border-style: hidden;
    text-align: start;
    align-items: center; }
    .vizlist-main-container .viz-btn:hover {
      border-style: hidden;
      outline: none; }
    .vizlist-main-container .viz-btn:active {
      border-style: hidden;
      outline: none; }
    .vizlist-main-container .viz-btn:focus {
      border-style: hidden;
      outline: none; }
  .vizlist-main-container .action {
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    color: #F5F5F5;
    padding-left: 16px;
    width: 100%;
    display: flex;
    flex-direction: row; }
    .vizlist-main-container .action div {
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid 1px #787878;
      margin-left: auto; }
    .vizlist-main-container .action svg {
      fill: #F5F5F5; }
      .vizlist-main-container .action svg:hover {
        color: #181818; }
    .vizlist-main-container .action:hover {
      color: #181818; }
    .vizlist-main-container .action:disabled {
      color: #787878; }
  .vizlist-main-container .finish {
    background-color: #76B356; }
  .vizlist-main-container .continue {
    background-color: #4D5F87; }
  .vizlist-main-container .step {
    background-color: transparent;
    font-size: 12px;
    color: #F5F5F5;
    height: 24px;
    padding: 0px 4px; }
    .vizlist-main-container .step:hover {
      color: #FE8D63;
      background-color: #525252; }
  .vizlist-main-container .back {
    background-color: #4D5F87;
    padding: 0; }
    .vizlist-main-container .back svg {
      fill: #F5F5F5; }
  .vizlist-main-container .user-input .container {
    padding: 8px;
    display: table;
    background-color: #F5F5F5;
    width: 100%; }
    .vizlist-main-container .user-input .container .border {
      overflow: hidden;
      border-radius: 8px;
      border-color: #181818; }
      .vizlist-main-container .user-input .container .border .action-text {
        height: 48px;
        width: 100%;
        color: #181818;
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center; }
      .vizlist-main-container .user-input .container .border .confirmation {
        height: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1px; }
        .vizlist-main-container .user-input .container .border .confirmation button {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0px; }
          .vizlist-main-container .user-input .container .border .confirmation button:hover {
            color: #181818; }
        .vizlist-main-container .user-input .container .border .confirmation .selected {
          background-color: #76B356;
          color: #F5F5F5; }
        .vizlist-main-container .user-input .container .border .confirmation .deselected {
          background-color: #4D5F87;
          color: #525252; }
      .vizlist-main-container .user-input .container .border input {
        background-color: #DEDEDE;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        color: #4D5F87;
        font-size: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: transparent;
        border-radius: 8px;
        text-align: center;
        border-radius: 8px; }
        .vizlist-main-container .user-input .container .border input:focus {
          outline: none;
          border-color: cornflowerblue; }

.task-navigation-container {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1px;
  background-color: #787878; }

.inner-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #181818;
  padding: 16px; }
  .inner-container div {
    font-size: 18px;
    color: #F5F5F5; }

.tasks {
  height: 16px;
  flex-grow: 1;
  margin: 0px 16px;
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent; }
  .tasks:last-child {
    margin-right: 0px; }
  .tasks div {
    flex-grow: 1;
    border: 1px solid transparent;
    background-color: #787878;
    margin-right: 1px; }
  .tasks .selected {
    border-color: #F5F5F5; }
  .tasks .seen {
    background-color: #FE8D63; }

.task-nav-btn {
  background-color: #181818;
  color: #F5F5F5;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  border: hidden;
  padding: 0px 8px; }
  .task-nav-btn:hover {
    color: #FE8D63; }
  .task-nav-btn:active {
    border-style: hidden;
    outline: none;
    background-color: #525252;
    transform: scale(0.98); }
  .task-nav-btn:focus {
    border-style: hidden;
    outline: none; }
  .task-nav-btn svg {
    width: 32px;
    height: 32px; }

.modal-popup-overlay {
  position: absolute;
  background-color: transparent;
  text-align: center;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }
  .modal-popup-overlay.is-displayed {
    display: block; }
  .modal-popup-overlay > .popup-window {
    width: 500px;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 40vh;
    border: 1px solid #c8c8c8; }
    .modal-popup-overlay > .popup-window > .content {
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 15px; }
      .modal-popup-overlay > .popup-window > .content .header {
        font-weight: bold;
        margin-bottom: 10px; }
    .modal-popup-overlay > .popup-window > .buttons {
      display: flex;
      flex-direction: row;
      border-top: 1px solid #c8c8c8; }
      .modal-popup-overlay > .popup-window > .buttons button {
        display: block;
        border: none;
        border-right: 1px solid #c8c8c8;
        color: #eb9771;
        text-align: center;
        flex: 1;
        padding: 15px;
        background-color: transparent; }
      .modal-popup-overlay > .popup-window > .buttons button:last-of-type {
        border-right: none; }

.minimap {
  width: 100%;
  position: relative;
  cursor: pointer; }
  .minimap .frame-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    user-select: none; }
  .minimap .current-region {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    opacity: 0.25; }

.missions-page-container {
  display: flex;
  height: 100%; }

.missions-widget-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-right: 20px; }
  .missions-widget-container .mission-search-container {
    padding: 8px;
    background-color: #E9E9E9;
    margin-bottom: 15px;
    border-radius: 5px; }
    .missions-widget-container .mission-search-container input {
      padding: 5px;
      width: calc(100% - 45px);
      float: left;
      border: 2px solid #6c757d; }
    .missions-widget-container .mission-search-container svg {
      width: 35px;
      height: 35px;
      float: right;
      color: #ced4da;
      padding: 5px; }
    .missions-widget-container .mission-search-container:after {
      content: "";
      clear: both;
      display: table; }
  .missions-widget-container .mission-list-container {
    border-radius: 5px;
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; }
    .missions-widget-container .mission-list-container .misssion-list-header {
      font-weight: bold;
      padding: 8px;
      display: flex; }
      .missions-widget-container .mission-list-container .misssion-list-header .loader {
        flex: 1; }
      .missions-widget-container .mission-list-container .misssion-list-header .sorting-orders a {
        font-weight: normal;
        color: #b1b7c4;
        cursor: pointer;
        margin-left: 4px; }
      .missions-widget-container .mission-list-container .misssion-list-header .sorting-orders a.active {
        font-weight: normal;
        color: #4d5f87; }
      .missions-widget-container .mission-list-container .misssion-list-header .sorting-orders a:visited {
        color: inherit; }
    .missions-widget-container .mission-list-container .mission-list-items-container {
      overflow-y: auto; }
      .missions-widget-container .mission-list-container .mission-list-items-container .mission-item {
        padding: 8px;
        border-top: 1px solid #ced4da;
        position: relative; }
        .missions-widget-container .mission-list-container .mission-list-items-container .mission-item .mission-thumbnail-container {
          width: 100px;
          height: 100px;
          border: 5px solid white;
          border-radius: 3px;
          background: black;
          float: left; }
          .missions-widget-container .mission-list-container .mission-list-items-container .mission-item .mission-thumbnail-container img {
            object-fit: contain;
            width: 100%;
            height: 100%; }
        .missions-widget-container .mission-list-container .mission-list-items-container .mission-item .mission-description-container {
          float: left;
          margin-left: 15px;
          padding-top: 5px;
          width: calc(100% - 120px); }
          .missions-widget-container .mission-list-container .mission-list-items-container .mission-item .mission-description-container .mission-title {
            font-weight: bold; }
          .missions-widget-container .mission-list-container .mission-list-items-container .mission-item .mission-description-container .started-label {
            color: #6c757d; }
          .missions-widget-container .mission-list-container .mission-list-items-container .mission-item .mission-description-container .status-label {
            color: #6c757d; }
        .missions-widget-container .mission-list-container .mission-list-items-container .mission-item .enter-mission-btn {
          display: none;
          position: absolute;
          bottom: 20px;
          right: 30px; }
        .missions-widget-container .mission-list-container .mission-list-items-container .mission-item:hover .enter-btn {
          display: block; }
        .missions-widget-container .mission-list-container .mission-list-items-container .mission-item:after {
          content: "";
          clear: both;
          display: table; }

.available-nodes-widget-container {
  width: 25%;
  height: 100%;
  background-color: #f1efd6;
  border-radius: 6px; }
  .available-nodes-widget-container > div {
    padding: 5px;
    width: 100%; }
  .available-nodes-widget-container .widget-header {
    border-bottom: 1px solid #dbdac8;
    font-size: 1.2em;
    color: black;
    text-align: center; }
  .available-nodes-widget-container .nodes-list .node-list-item-container .node-details {
    width: calc(100% - 50px);
    overflow: hidden;
    float: left; }
    .available-nodes-widget-container .nodes-list .node-list-item-container .node-details .node-name {
      font-weight: bold;
      font-size: 1.2em; }
    .available-nodes-widget-container .nodes-list .node-list-item-container .node-details .node-url {
      padding-left: 10px; }
  .available-nodes-widget-container .nodes-list .node-list-item-container .node-status-icon-container {
    float: right;
    padding-left: 5px;
    padding-top: 10px;
    margin-right: 10px; }
    .available-nodes-widget-container .nodes-list .node-list-item-container .node-status-icon-container img {
      height: 30px; }

.stage-selection-page-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden; }
  .stage-selection-page-container > .mission-title {
    background-color: #f2f2f2;
    font-size: 1.3em;
    padding: 10px;
    height: 50px; }
  .stage-selection-page-container .bottom-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden; }
    .stage-selection-page-container .bottom-row .left-column {
      display: flex;
      flex-direction: column;
      width: 400px;
      background-color: #31363c; }
      .stage-selection-page-container .bottom-row .left-column > .top-area {
        flex: 1;
        display: flex;
        flex-direction: column; }
        .stage-selection-page-container .bottom-row .left-column > .top-area .mission-description {
          padding: 20px;
          border-bottom: 2px solid #4a4d54; }
          .stage-selection-page-container .bottom-row .left-column > .top-area .mission-description .mission-title {
            color: #f5f5f5;
            font-size: 1.2em; }
          .stage-selection-page-container .bottom-row .left-column > .top-area .mission-description .mission-run, .stage-selection-page-container .bottom-row .left-column > .top-area .mission-description .mission-status, .stage-selection-page-container .bottom-row .left-column > .top-area .mission-description .mission-tasks-count {
            color: #a0a7b6; }
      .stage-selection-page-container .bottom-row .left-column .exit-button {
        width: 100%;
        height: 60px;
        background-color: #3b3e43;
        color: #f5f5f5;
        border: none;
        border-top: 2px solid #4a4d54; }
    .stage-selection-page-container .bottom-row .right-column {
      flex: 1;
      background-color: #181818;
      padding: 20px;
      display: flex;
      flex-direction: column; }
      .stage-selection-page-container .bottom-row .right-column .stage-selection-list {
        background-color: #282828;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        overflow: hidden; }
        .stage-selection-page-container .bottom-row .right-column .stage-selection-list > .header {
          padding: 20px;
          color: #f5f5f5; }
        .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items {
          display: flex;
          flex-direction: column;
          overflow-y: auto; }
          .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items .list-item {
            padding: 20px;
            border-top: 2px solid #979797;
            display: flex;
            flex-direction: row; }
            .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items .list-item .stage-enable-control {
              width: 120px; }
              .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items .list-item .stage-enable-control .toggleContainer {
                color: black; }
            .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items .list-item .stage-description-container {
              flex: 1; }
              .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items .list-item .stage-description-container > div {
                padding-bottom: 10px; }
              .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items .list-item .stage-description-container > .header {
                color: #fe8d63; }
              .stage-selection-page-container .bottom-row .right-column .stage-selection-list .stage-list-items .list-item .stage-description-container > .title {
                color: #fe8d63; }
      .stage-selection-page-container .bottom-row .right-column .enter-stage-button-container {
        margin-top: 15px;
        text-align: right; }

.tagging-page-container {
  display: flex;
  height: 100%;
  flex-direction: column; }
  .tagging-page-container > .mission-title {
    background-color: #f2f2f2;
    font-size: 1.3em;
    padding: 10px;
    height: 50px; }
  .tagging-page-container > .bottom-row {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden; }
    .tagging-page-container > .bottom-row > .left-column {
      display: flex;
      flex-direction: column;
      width: 400px;
      background-color: #31363c; }
      .tagging-page-container > .bottom-row > .left-column > .top-area {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden; }
        .tagging-page-container > .bottom-row > .left-column > .top-area .mission-description {
          padding: 20px;
          border-bottom: 2px solid #4a4d54; }
          .tagging-page-container > .bottom-row > .left-column > .top-area .mission-description .mission-title {
            color: #f5f5f5;
            font-size: 1.2em; }
          .tagging-page-container > .bottom-row > .left-column > .top-area .mission-description .mission-run, .tagging-page-container > .bottom-row > .left-column > .top-area .mission-description .mission-status, .tagging-page-container > .bottom-row > .left-column > .top-area .mission-description .mission-tasks-count {
            color: #fe8d63; }
          .tagging-page-container > .bottom-row > .left-column > .top-area .mission-description .mission-run {
            font-weight: bold; }
        .tagging-page-container > .bottom-row > .left-column > .top-area .tabs-control {
          display: flex;
          flex: 1;
          overflow: hidden; }
          .tagging-page-container > .bottom-row > .left-column > .top-area .tabs-control .tabs-buttons {
            width: 120px;
            background-color: #181818; }
            .tagging-page-container > .bottom-row > .left-column > .top-area .tabs-control .tabs-buttons .tab {
              text-align: center;
              padding: 20px 0;
              color: #f5f5f5;
              font-size: 0.9em;
              cursor: pointer; }
              .tagging-page-container > .bottom-row > .left-column > .top-area .tabs-control .tabs-buttons .tab.active {
                border-left: 2px solid #fe8d63;
                background-color: #31363c; }
          .tagging-page-container > .bottom-row > .left-column > .top-area .tabs-control .active-tab-content {
            flex: 1;
            color: #f5f5f5;
            /*overflow-y: auto;*/ }
      .tagging-page-container > .bottom-row > .left-column .exit-button {
        width: 100%;
        height: 60px;
        background-color: #3b3e43;
        color: #f5f5f5;
        border: none;
        border-top: 2px solid #4a4d54; }
    .tagging-page-container > .bottom-row > .right-column {
      flex: 1;
      background-color: #181818;
      display: flex;
      flex-direction: column;
      overflow: hidden; }
      .tagging-page-container > .bottom-row > .right-column .tagging-content-loader {
        margin-top: 30px; }
        .tagging-page-container > .bottom-row > .right-column .tagging-content-loader .sk-flow-dot {
          background: #787878; }
  .tagging-page-container .tag-preview-control-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%; }
    .tagging-page-container .tag-preview-control-container * {
      user-select: none; }
    .tagging-page-container .tag-preview-control-container .user-manual {
      padding: 20px;
      color: #adb5bd; }
      .tagging-page-container .tag-preview-control-container .user-manual > .header {
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px; }
      .tagging-page-container .tag-preview-control-container .user-manual > .contents p {
        margin-bottom: 10px; }
    .tagging-page-container .tag-preview-control-container .tag-container {
      padding: 10px; }
      .tagging-page-container .tag-preview-control-container .tag-container.active {
        background-color: #1d507a; }
      .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info {
        display: flex; }
        .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info .left-column {
          flex: 1;
          display: flex;
          flex-direction: column; }
          .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info .left-column > div {
            margin-bottom: 10px; }
          .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info .left-column .header {
            color: #fe8d63; }
          .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info .left-column .tagonomy-execution-result {
            margin-left: 10px; }
        .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info .right-column {
          width: 30px; }
          .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info .right-column > .info-button {
            width: 30px;
            height: 30px;
            text-align: center; }
            .tagging-page-container .tag-preview-control-container .tag-container .tagonomy-info .right-column > .info-button:hover {
              background-color: #4D5F87; }
      .tagging-page-container .tag-preview-control-container .tag-container .position-info {
        margin-bottom: 15px; }
      .tagging-page-container .tag-preview-control-container .tag-container .thumbnail {
        background-color: black;
        border: 5px solid white;
        border-radius: 5px;
        height: 150px;
        margin-bottom: 5px; }
        .tagging-page-container .tag-preview-control-container .tag-container .thumbnail img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .tagging-page-container .tag-preview-control-container .tag-container > .buttons {
        display: flex;
        flex-direction: row; }
        .tagging-page-container .tag-preview-control-container .tag-container > .buttons > .button {
          flex: 1; }
          .tagging-page-container .tag-preview-control-container .tag-container > .buttons > .button button {
            width: 100%;
            height: 100%;
            border: none;
            background-color: transparent; }
          .tagging-page-container .tag-preview-control-container .tag-container > .buttons > .button button:hover {
            background-color: #174062; }
  .tagging-page-container .tagging-surface-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
    position: relative; }
    .tagging-page-container .tagging-surface-container .tagging-surface-overlay {
      position: absolute !important;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100% - 60px - 60px);
      z-index: 9999;
      background: black;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .tagging-page-container .tagging-surface-container .tagging-surface-overlay .overlay-message {
        margin-bottom: 12px;
        color: #de0000;
        font-weight: 500; }
      .tagging-page-container .tagging-surface-container .tagging-surface-overlay .tagging-surface-overlay-dots-loader .sk-flow-dot {
        background-color: #de0000; }
      .tagging-page-container .tagging-surface-container .tagging-surface-overlay.transparent {
        background: rgba(245, 245, 245, 0.2); }
    .tagging-page-container .tagging-surface-container .tagging-canvas {
      position: absolute;
      width: 100%;
      height: calc(100% - 60px - 60px);
      top: 60px;
      background: black; }
  .tagging-page-container .tracking-wizard-loader-component-css .wizard-loader-overlay {
    background-color: white;
    display: flex;
    align-items: center;
    opacity: 0.5; }
    .tagging-page-container .tracking-wizard-loader-component-css .wizard-loader-overlay .wizard-dots-loader {
      height: 28px;
      margin-top: 10px; }
      .tagging-page-container .tracking-wizard-loader-component-css .wizard-loader-overlay .wizard-dots-loader .sk-flow-dot {
        background-color: #707070; }
  .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    height: 100%; }
    .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .image-button {
      height: 30px;
      width: 30px;
      cursor: pointer; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .image-button.accept-button {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: green; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .image-button.clear-button {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: red; }
    .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .disabled .image-button {
      opacity: 0.5;
      cursor: no-drop; }
    .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container {
      display: flex; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container .tag-container {
        background-color: white;
        border-radius: 4px;
        padding: 8px;
        color: black;
        height: 200px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 1; }
        .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container .tag-container .title {
          border-bottom: 1px solid #DEDEDE;
          padding-bottom: 4px; }
        .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container .tag-container .tag-thumbnail-container {
          padding: 4px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          flex-grow: 1; }
          .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container .tag-container .tag-thumbnail-container .position-label {
            margin-bottom: 5px; }
          .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container .tag-container .tag-thumbnail-container .tag-thumbnail {
            border-radius: 4px;
            border: 5px solid #fe8d63;
            background-color: black;
            overflow: hidden;
            flex-grow: 1; }
            .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container .tag-container .tag-thumbnail-container .tag-thumbnail img {
              object-fit: contain;
              width: 100%;
              height: 100%; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-sequence-tag-container .buttons-container {
        display: flex;
        flex-direction: column;
        width: 40px;
        padding-left: 10px;
        justify-content: center; }
    .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-type-selection-container, .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-algorithm-selection-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-type-selection-container .title, .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-algorithm-selection-container .title {
        color: #f5f5f5;
        margin-bottom: 3px; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-type-selection-container .selection-input-container select, .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .tracking-algorithm-selection-container .selection-input-container select {
        width: 100%;
        color: #f5f5f5;
        background-color: #787878;
        border: 1px solid black;
        padding: 5px; }
    .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .button-container {
      margin-bottom: 10px; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .button-container .disabled .button {
        background-color: #8fc07a;
        color: #e0e0e0;
        cursor: no-drop; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .button-container .button {
        width: 100%;
        background-color: #76B356;
        color: #f5f5f5;
        padding: 6px;
        cursor: pointer;
        user-select: none; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .button-container .button:active {
        background-color: #5e9442; }
    .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .title {
      color: #f5f5f5; }
    .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .intermediate-element-container {
      display: flex;
      height: 150px; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .intermediate-element-container .left-side {
        display: flex;
        flex-direction: column;
        flex-grow: 1; }
        .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .intermediate-element-container .left-side .title {
          color: #f5f5f5;
          margin-bottom: 10px; }
        .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .intermediate-element-container .left-side .thumbnail-container {
          border-radius: 4px;
          border: 5px solid #fe8d63;
          background-color: black;
          overflow: hidden;
          margin-bottom: 10px; }
          .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .intermediate-element-container .left-side .thumbnail-container img {
            object-fit: contain;
            width: 100%;
            height: 100%; }
      .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .intermediate-element-container .right-side {
        display: flex;
        flex-direction: column;
        width: 40px;
        padding-left: 10px;
        justify-content: center; }
        .tagging-page-container .tracking-wizard-loader-component-css .tracking-data-wizard-container .intermediate-elements-list-container .intermediate-element-container .right-side .clear-button {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px; }

.tagonomy-info-popup-container {
  background-color: #f2f2f2;
  color: black;
  width: 600px;
  z-index: 9999;
  text-align: left;
  padding: 15px;
  border: 1px solid #787878;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 9999; }
  .tagonomy-info-popup-container > .copy-btn {
    width: 100%;
    margin-top: 10px;
    border: none;
    background-color: #787878;
    color: white; }

.tagonomy-execution-tooltip-container {
  position: absolute;
  background-color: #f5deb3;
  color: black;
  top: 0;
  left: 0;
  visibility: hidden;
  padding: 7px;
  z-index: 9999; }
  .tagonomy-execution-tooltip-container .finished-path .step-node-name:first-of-type {
    font-weight: bold; }

.desi-login.form .invalid-form-feedback {
  margin-top: 20px;
  text-align: center;
  color: red;
  display: none; }

.desi-login.form.was-validated .form-control:invalid {
  border-color: inherit;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='19.477501' height='19.623751' id='svg3052' version='1.1' inkscape:version='0.48.3.1 r9886' sodipodi:docname='Nouveau document 2'%3E%3Cdefs id='defs3054' /%3E%3Csodipodi:namedview id='base' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' inkscape:pageopacity='0.0' inkscape:pageshadow='2' inkscape:zoom='0.35' inkscape:cx='-675.33071' inkscape:cy='-147.33098' inkscape:document-units='px' inkscape:current-layer='layer1' showgrid='false' fit-margin-top='0' fit-margin-left='0' fit-margin-right='0' fit-margin-bottom='0' inkscape:window-width='1280' inkscape:window-height='726' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='1' /%3E%3Cmetadata id='metadata3057'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg inkscape:label='Calque 1' inkscape:groupmode='layer' id='layer1' transform='translate(-447.40411,-365.40745)'%3E%3Cpath inkscape:connector-curvature='0' d='m 460.85661,374.3237 6.025,2.13875 -1.36125,3.90625 -5.46375,-1.94875 1.3525,5.635 -4.0625,0.97625 -1.3525,-5.63 -3.975,4.22875 -3.00375,-2.86625 4.39,-4.64375 -6.00125,-2.075 1.34875,-3.91625 5.45375,1.89 -1.3525,-5.635 4.0575,-0.97625 1.3525,5.625 3.99375,-4.165 3.00375,2.86625 -4.405,4.59 z' style='fill:%23bd1823;fill-opacity:1;fill-rule:nonzero;stroke:none' id='path190' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: calc(.15em + .375rem) calc(.15em + .375rem);
  background-position: top 5px right 5px; }

.desi-login.form.was-validated .form-control:valid {
  border-color: inherit;
  padding-right: inherit;
  background-image: none; }

.desi-login.form.was-validated:invalid .invalid-form-feedback {
  display: block; }

.desi-login.form .form-container {
  margin-top: 3% !important;
  border-radius: 6px;
  background-color: white;
  padding: 0px;
  width: 30%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .desi-login.form .form-container .form-content {
    padding: 20px; }
    .desi-login.form .form-container .form-content .form-control {
      border-radius: 0 !important;
      color: black !important;
      border-color: #6c757d !important;
      box-shadow: none !important; }
      .desi-login.form .form-container .form-content .form-control:disabled {
        border-color: #E9ECED !important; }
    .desi-login.form .form-container .form-content .desi-check-input {
      -webkit-appearance: none;
      background-color: white;
      border: 1px solid #cacece;
      border-color: #76b356;
      border-width: 2px;
      padding: 9px !important;
      display: inline-block;
      position: relative; }
    .desi-login.form .form-container .form-content .desi-check-input:checked {
      background-color: #76b356;
      color: #99a1a7; }
    .desi-login.form .form-container .form-content .desi-check-input:checked:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 4px;
      color: #99a1a7;
      border: solid white;
      width: 10px;
      height: 14px;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
    .desi-login.form .form-container .form-content .form-check-input {
      vertical-align: middle;
      margin-top: 0px !important; }
    .desi-login.form .form-container .form-content .form-check-label {
      margin: 10px !important;
      color: black !important; }
  .desi-login.form .form-container .submit-button {
    width: 100%;
    border-color: #76b356;
    background-color: #76b356;
    border-radius: 0 0 6px 6px; }
