@namespace Orions.Systems.CrossModules.Components
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@inject Microsoft.JSInterop.IJSRuntime JS

<div id="treeMapContainer">
	<div id="@TreeMapId"></div>
</div>

@functions
{

	[Parameter]
	public string TreeMapId { get; set; }

	[Parameter]
	public TreeMapItem[] TreeMapData { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var data = TreeMapItem.GenerateTestData();
	
		if (TreeMapData == null || TreeMapData.Length == 0) return;

		await JS.InvokeAsync<object>("Orions.KendoTreemap.init", new object[] { TreeMapId, TreeMapData });
	}
}