@inject Microsoft.JSInterop.IJSRuntime JS
@using Microsoft.JSInterop

<div class="demo-section k-content wide" style="max-width: 1000px;">
    <div id="@MediaPlayerData.Id" style="height:360px"></div>
</div>




@functions
{

   [Parameter]
   public MediaPlayerData MediaPlayerData { get; set; }

   protected override async Task OnAfterRenderAsync(bool firstRender)
   {
      await JS.InvokeAsync<object>("Orions.KendoMediaPlayer.init", MediaPlayerData);
      await base.OnAfterRenderAsync(firstRender);
   }


   [JSInvokable]
   public static Task OnPlayAsync()
   {
      return Task.CompletedTask;
   }

   [JSInvokable]
   public static Task OnPauseAsync()
   {
      return Task.CompletedTask;
   }

   [JSInvokable]
   public static Task OnTimeChangeAsync()
   {
      return Task.CompletedTask;
   }

}