@namespace Orions.Systems.CrossModules.Desi.Components.TaggingSurface
@inherits VideoPlayerBase

<video id="@_videoElementId"
	   class="video-js"
	   controls
	   preload="auto"
	   width="1280"
	   height="720"
	   data-setup="{}">
	<p class="vjs-no-js">
		To view this video please enable JavaScript, and consider upgrading to a
		web browser that
		<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
	</p>
</video>
@if (CurrentFrameIsLoading || IsVideoLoading)
{
	<div class="video-player-overlay">
		@if (CurrentFrameIsLoading)
		{
			<span>
				Loading frame image...
			</span>
		}
		else if (IsVideoLoading)
		{
			<span>Buffering video...</span>
		}
	</div>
}

<div class="centered-container">
	<img src="@this.PausedFrameBase64" class="frame-img" />
</div>
