@using Orions.SDK;
@using Orions.Infrastructure.HyperMedia;
@using Orions.Common;

@inherits MediaComponentBase;

@if (Media != null)
{
    switch (Media.MediaSource)
    {
        case MemoryImagePlaylistEntry memoryImage:
            <div class="centered-container">
                <img src="@UniImage.ConvertByteArrayToBase64Url(memoryImage.Handle)" class="frame-img"/>
            </div>
            break;

        case HyperAssetPlaylistEntry hyperAsset:
            <VideoPlayer
                    CurrentTask="this.CurrentTask" 
                    TagsStore="this.TagsStore"
                    OnPaused="this.OnMediaPaused" 
                    OnPlay="this.OnMediaPlay"
                    OnLoading="this.OnMediaLoading"
                    OnLoaded="this.OnMediaLoaded"
                    ActionDispatcher="this.ActionDispatcher"
                    MediaInstance="this.Media"/>
            break;
    }
}

