@using Orions.Systems.CrossModules.Components.Desi.Infrastructure; 
@inherits BaseComponent

<div @onclick="@Activate" class="tab @ActiveCssClass">
	@Title
</div>

@code {
	[CascadingParameter]
	public TabSet ContainerTabSet { get; set; }

	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public bool Active { get; set; } = false;

	protected string ActiveCssClass => ContainerTabSet.ActiveTab == this ? "active" : null;

	protected override void OnInitializedSafe()
	{
		ContainerTabSet.AddTab(this);
	}

	public void Dispose()
	{
		ContainerTabSet.RemoveTab(this);
	}

	public void Activate()
	{
		ContainerTabSet.SetActivateTab(this);
	}
}