@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<TextBlockVm, TextBlockWidget>

	<div class="widget-content-report">

		<SeparatorLine Settings="@Widget.TopSeparator"></SeparatorLine>
		<TitleCard Settings="Widget.TitleSettings"></TitleCard>

		<div class="widget-content-report-view">
			<section>
				@((MarkupString)Vm.Widget.RawHtml)
			</section>
		</div>

		<SeparatorLine Settings="@Widget.BottomSeparator"></SeparatorLine>

	</div>

@code {
	protected override async Task OnInitializedAsync()
	{

		await base.OnInitializedAsync();
	}
}