
.colapse-container {
	position: relative;

	.cmd {
		cursor: pointer;
	}

	.cmd-colapse {
		transition: 0.5s;
		display: flex;
		border-radius: 15px;

		&:hover {
			background-color: #bbbce3;
			transition: 0.5s;
		}
	}
}
