@page "/"
@inherits BaseOrionsComponent

<h5>Property Grid Test Page using Hyper Mission Phase</h5>

<p>Mission Id is : @MissionId</p>
<p>Phase Id is : @PhaseId</p>

<div class="form-group">
    <label for="missionIdInput">Mission Id</label>
    <input type="text" class="form-control" @bind-value="@MissionId" @bind-value:event="oninput" id="missionIdInput" />
</div>

<div class="form-group">
    <label for="phaseIdInput">Phase Id</label>
    <input type="text" class="form-control" @bind-value="@PhaseId" @bind-value:event="oninput" id="phaseIdInput" />
</div>

<button @onclick="UpdateData">Update Data</button>

<hr />

<PropertyGrid Loader="GetMissionPhaseAsync"
              HyperStore="DataContext.Instance.NetStore"
              OKVisible="true"
              CancelVisible="true">
</PropertyGrid>

@code{

    public string MissionId { get; set; } = "e8d88c8a-b82d-4911-9639-3080ef877653";

    public string PhaseId { get; set; } = "701544ad-e73b-4854-86ab-b0f8e3e91376";

    // Always return the same instance, so we can test to see if changes stick.
    static object _cachedMissionPhase;

    private async Task<object> GetMissionPhaseAsync()
    {
        if (_cachedMissionPhase == null)
            _cachedMissionPhase = await DataContext.Instance.GetMissionPhaseAsync(MissionId, PhaseId);

        return _cachedMissionPhase;
    }

    private async Task UpdateData()
    {
        StateHasChanged();
    }
}
