@page "/"

@using Orions.Infrastructure.HyperMedia;
@using Orions.Infrastructure.HyperSemantic;
@using ReactNOW.ML;

@inherits BaseOrionsComponent

<h5>Property Grid Test On Page</h5>

<select class="form-control" value="@SelectedObject.Value" @onchange="(eventArgs => { OnChangeTestPropObject(SelectedObject, eventArgs.Value); })">
    @foreach (var item in OptionObjects)
    {
        <option value="@item.Value">@item.Label</option>
    }
</select>
<p class="change-obj-desc">Change the property grid object.</p>

<hr />

<div class="card box-shadow">
    <div class="card-body">
        <PropertyGrid Loader="GetDataAsync"
                      HyperStore="DataContext.Instance.NetStore"
                      OKVisible="true"
                      CancelVisible="true">
        </PropertyGrid>
    </div>
</div>


@code{

    public TestPropObject SelectedObject { get; set; } = OptionObjects.FirstOrDefault();

    private static List<TestPropObject> OptionObjects = new List<TestPropObject> {
        new TestPropObject{ Value=1, Label="HyperMissionPhase"},
        new TestPropObject{ Value=2, Label="GUINodeElement"},
        new TestPropObject{ Value=3, Label="MetadataSetSourceHyperWorkflowNodeData"},
        new TestPropObject{ Value=4, Label="OOITaggingHyperWorkflowNodeData"},
        new TestPropObject{ Value=5, Label="MetadataRendererComponentConfig"},
        //new TestPropObject{ Value=1, Label=""},
    };

    // Always return the same instance, so we can test to see if changes stick.
    static object _cachedObject;

    private async Task<object> GetDataAsync()
    {
        if (_cachedObject == null)
            _cachedObject = await LoadData(SelectedObject?.Value ?? 0);

        return _cachedObject;
    }

    private async Task<object> LoadData(int selectedObjectValue = 1)
    {

        switch (selectedObjectValue)
        {
            case 1:
                var missionId = "e8d88c8a-b82d-4911-9639-3080ef877653";
                var phaseId = "701544ad-e73b-4854-86ab-b0f8e3e91376";
                var missionPhase = await DataContext.Instance.GetMissionPhaseAsync(missionId, phaseId);

                if (missionPhase != null) return missionPhase;

                return new HyperMissionPhase();

            case 2:
                return new GUINodeElement();
            case 3:
                return new MetadataSetSourceHyperWorkflowNodeData();
            case 4:
                return new OOITaggingHyperWorkflowNodeData();
            case 5:
                return new MetadataRendererComponentConfig()
                {
                    Id = "1edf89ad-948c-4821-aabb-85cabcb42cbe",
                    Name = "Metadata Renderer",
                };
            default:
                break;
        }

        return new NotImplementedException("Missing object");

    }

    private void OnChangeTestPropObject(TestPropObject data, object value)
    {
        _cachedObject = null;

        int option = int.Parse(string.Format("{0}", value));

        SelectedObject = OptionObjects.FirstOrDefault(it => it.Value == option);
    }


    public class TestPropObject
    {
        public int Value { get; set; }

        public string Label { get; set; }
    }



}

<style>

    .box-shadow {
        -webkit-box-shadow: 7px 10px 18px -8px rgba(0,0,0,0.66);
        -moz-box-shadow: 7px 10px 18px -8px rgba(0,0,0,0.66);
        box-shadow: 7px 10px 18px -8px rgba(0,0,0,0.66);
    }

    .change-obj-desc {
        font-size: 14px;
        padding-left: 20px;
        padding-top: 5px;
        color: #6193c8;
    }
</style>
