@page "/metadata-render"
@inherits BaseOrionsComponent

@using ReactNOW.ML

<h5>Metadata Render Config Property Grid Test Page to test color picker</h5>


<hr />

<PropertyGrid Loader="GetObjectAsync"
              HyperStore="DataContext.Instance.NetStore"
              OKVisible="true"
              CancelVisible="true">
</PropertyGrid>

@code{


        // Always return the same instance, so we can test to see if changes stick.
        static object _cachedObject;

        private async Task<object> GetObjectAsync()
        {
            if (_cachedObject == null)
            {
                _cachedObject = new MetadataRendererComponentConfig() {
                    Id = "1edf89ad-948c-4821-aabb-85cabcb42cbe",
                    Name = "Metadata Renderer",
            };
        }

        return _cachedObject;
    }

    private async Task UpdateData()
    {
        StateHasChanged();
    }
}
