@namespace Orions.Systems.CrossModules.Pages
@page "/progress"


@inherits BaseOrionsComponent

<h1>Sandbox Area</h1>

<div class="container-fluid">
	<div class="card-group-mix">
		@{
			for (var index = 1; index <= 6; index++)
			{
				<div class="card">
					<img class="card-img-top" src="images/story/cam-preview (@index).jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<div>
							<ProgressLine IconUrl="/icons/shoe@5x.png" Progress="@RandomNumber(10, 70)" Value="@RandomNumber(200, 1000)"></ProgressLine>

							<ProgressLine IconUrl="/icons/girl icon@5x.png" Progress="@RandomNumber(10, 70)" Value="@RandomNumber(200, 1000)"></ProgressLine>
						</div>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			}
		}
	</div>
</div>


@code{

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}
	private int RandomNumber(int min, int max)
	{
		Random random = new Random();
		return random.Next(min, max);
	}
}

<style>
	.card {
		float: left;
		margin: 10px;
	}
</style>
