
.theme-container-list-title {
	padding: 20px 0px;
}

.theme-list-header {
	text-align: right;

	a {
		cursor: pointer;
		opacity: 0.5;
		transition: 0.5s;

		&:hover {
			opacity: 1;
			transition: 0.5s;
		}
	}
}

.theme-list-name {
	a {
		cursor: pointer;
	}
}

.theme-cmd {
	a {
		cursor: pointer;
		opacity: 0.3;
		transition: 0.5s;

		&:hover {
			opacity: 1;
			transition: 0.5s;
		}
	}

	.theme-cmd-delete {
		color: red !important;
	}

	.theme-cmd-view {
		color: #025302 !important;
	}
}

.theme-edit-container {
	.theme-edit-textarea {
		width: 100%;
		border: 1px solid lightgray;
	}
}

.theme-edit-cmd {
	display: inline-block;
	text-align: right;

	a {
		cursor: pointer;
		opacity: 0.7;
		transition: 0.5s;

		&:hover {
			opacity: 1;
			transition: 0.5s;
		}
	}
}
