@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<DashboardContainerVm, DashboardContainerWidget>

@if (Data != null)
{
    <div class="widget-content-report">
        <DashboardLayout HyperStore="@HyperStore"
                         Data="@Data"
                         EnableBetweenBox="true"
                         IsPreviewMode="true"
                         DisableModeOption="true">
        </DashboardLayout>
    </div>
}

@code {

    private DashboardData Data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Data = await (this.Vm as DashboardContainerVm).SetSelectedDashboard();
    }

}
