
.icon-pie-chart {
	.icon-pie-chart-item-0 {
		fill: #EF785A;
	}

	.icon-pie-chart-item-1 {
		fill: #EFC41C;
	}

	.icon-pie-chart-item-2 {
		fill: #566181;
	}

	.icon-pie-chart-item-3 {
		fill: #71C386;
	}
}

.icon-line-chart {
	.icon-line-chart-item-0 {
	}

	.icon-line-chart-item-1 {
		fill: #EFC41C;
	}

	.icon-line-chart-item-2 {
		fill: #566181;
	}

	.icon-line-chart-item-3 {
		fill: #71C386;
	}

	.icon-line-chart-item-4 {
		fill: #EF785A;
	}

	.icon-line-chart-item-5 {
		fill: #566181;
	}
}

.icon-map {
	.icon-map-item-0 {
		fill: #59BC69;
	}

	.icon-map-item-1 {
		fill: #6CBF61;
	}

	.icon-map-item-2 {
		fill: #FFDB56;
	}

	.icon-map-item-3 {
		fill: #B0E1F1;
	}

	.icon-map-item-4 {
		fill: #FDBA26;
	}

	.icon-map-item-5 {
		fill: #F04E4E;
	}

	.icon-map-item-6 {
		fill: #E73540;
	}

	.icon-map-item-7 {
		fill: #33A2DB;
	}
}

.icon-transport-widget {
	.icon-transport-widget-0 {
		fill: #1F2E38;
	}

	.icon-transport-widget-1 {
		fill: #344E5C;
	}

	.icon-transport-widget-2 {
		fill: #BF3B2B;
	}

	.icon-transport-widget-3 {
		fill: #86C6DC;
	}

	.icon-transport-widget-4 {
		fill: #862A1E;
	}

	.icon-transport-widget-5 {
		fill: #E4E6E6;
	}

	.icon-transport-widget-6 {
		fill: #E2584D;
	}

	.icon-transport-widget-7 {
		fill: #E87970;
	}

	.icon-transport-widget-8 {
		fill: #E0E3E4;
	}

	.icon-transport-widget-9 {
		fill: #C1C8CA;
	}

	.icon-transport-widget-10 {
		fill: #F3B45A;
	}

	.icon-transport-widget-11 {
		fill: #93D1E7;
	}

	.icon-transport-widget-12 {
		fill: #CDD1D3;
	}
}

.icon-dropnav {
	.icon-dropnav-item-0 {
		fill: #3B566A;
	}

	.icon-dropnav-item-1 {
		fill: #4FBF9F;
	}

	.icon-dropnav-item-2 {
		fill: #ECF0F3;
	}

	.icon-dropnav-item-3 {
		fill: #28A2DB;
	}

	.icon-dropnav-item-4 {
		fill: #E66454;
	}

	.icon-dropnav-item-5 {
		fill: #D5D6DC;
	}
}


.bodyTypeStHead {
	fill: none;
	stroke: #3A5D7F;
	stroke-width: 3;
	stroke-miterlimit: 10;
}

.bodyTypeStBody {
	fill: #395D7F;
}

.icon-text-block {
	& > .icon-text-block-item {
		fill: none;
		stroke: #000000;
		stroke-width: 5;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-miterlimit: 10;
	}
}
