@using Orions.Systems.CrossModules.Desi.Components.TaggingSurface.Media;

@inherits TaggingSurfaceBase

<div class="tagging-surface-container" id="@this.ComponentIdHtml">
	<div class="tagging-surface-child-content">
		@ChildContent
	</div>

	@if (MediaDataStore.Data.MediaInstances?.Count == 1)
	{
			<MediaComponent Media="@MediaDataStore.Data.MediaInstances[0]"
							OnMediaPaused="async () => { await OnMediaPaused(); }"
							OnMediaPlay="async () => { _mediaPaused = false; this.OverlayMediaWithCanvas(false); }"
							OnMediaLoading="async () => { if (!_mediaPaused) this.OverlayMediaWithCanvas(false); }"
							OnMediaLoaded="async () => this.OverlayMediaWithCanvas(true)"/>
		<canvas class="tagging-canvas">
		</canvas>
	}
	else if (MediaDataStore.Data.MediaInstances?.Count == 2)
	{
		<div> *** comparative tagging is not yet implemented *** </div>
	}

</div>