@using Orions.Systems.CrossModules.Desi.Components.TaggingSurface.Media;

@inherits TaggingSurfaceBase

<div class="tagging-surface-container" id="@this.ComponentIdHtml">
	<div class="tagging-surface-child-content">
		@ChildContent
	</div>

	@if (MediaDataStore.Data.MediaInstances?.Count == 1)
	{
			<MediaComponent Media="@MediaDataStore.Data.MediaInstances[0]"
							OnTagSelected="this.OnTagSelected"
							/>
		<canvas class="tagging-canvas">
		</canvas>
	}
	else if (MediaDataStore.Data.MediaInstances?.Count == 2)
	{
		<div> *** comparative tagging is not yet implemented *** </div>
	}

</div>