@using Orions.Systems.CrossModules.Desi.Components.TaggingSurface.Media;

@inherits TaggingSurfaceBase

<div class="tagging-surface-container" id="@this.ComponentId">
	<div class="centered-container">
		@ChildContent

		@if (MediaDataStore.Data.MediaInstances?.Count == 1)
		{
			<MediaComponent Media="@MediaDataStore.Data.MediaInstances[0]"
							ActionDispatcher="@ActionDispatcher" />
			<canvas class="tagging-canvas">
			</canvas>
		}
		else if (MediaDataStore.Data.MediaInstances?.Count == 2)
		{
			<div> *** comparative tagging is not yet implemented *** </div>
		}
	</div>
</div>