@page "/"
@namespace Orions.Systems.CrossModules.BlazorSample
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>BlazorApp1</title>
   <base href="~/" />
   <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
   <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="/EmbeddedBlazorFile/jwplayer.js"></script>
    <script src="/EmbeddedBlazorFile/provider.hlsjs.js"></script>
    <script src="/EmbeddedBlazorFile/provider.html5.js"></script>
    <script src="/EmbeddedBlazorFile/common.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/MatBlazor/dist/matBlazor.js"></script>
    <script src="https://kendo.cdn.telerik.com/blazor/2.1.1/telerik-blazor.min.js" defer></script>
</body>
</html>
