@page "/counter"
@using Orions.Systems.CrossModules.Blazor
@using Orions.Systems.CrossModules.BlazorSample.Data
@inject TestService TestService

@inherits BaseBlazorComponent<CounterSampleVm>

<h1>Counter</h1>

<button class="btn btn-primary" @onclick="@DataContext.CommandStop">Click me</button>

<datalist id="dl">
   <option value="one"></option>
   <option value="two"></option>
   <option value="three"></option>
</datalist>

<text>@DataContext.TimeValueProp.Value</text>

@code {
   // xcsczzc
}
