@namespace Orions.Systems.CrossModules.Components

@using MatBlazor

@inherits TagWidgetBase

<div class="tag-widget-container">
    <MatCard class="demo-mat-card">
        <MatCardContent>
            <MatCardMedia Wide="true" ImageUrl="@Vm.ImageBase64Url">
                <div>
                    @Vm.HyperTagLabel
                </div>
            </MatCardMedia>
        </MatCardContent>
    </MatCard>
</div>

<style>
    .tag-widget-container{
        width:100%;
        height:100%;
        overflow:hidden;
        color:white;
    }

    .tag-widget-container .mat-card-media{
        background-size:contain;
        background-color:black;
    }

    .tag-widget-container .bg-image{
        width:100%;
    }
</style>