@namespace Orions.Systems.CrossModules.Portal.Pages
@page "/default"

@inherits PortalBaseComponent

@inject IMatToaster Toaste

<div class="container-fluid">

    @if (DataList.Any() && isLoadedDataResult)
    {
        @foreach (var data in DataList)
        {
            <DashboardLayout Data="data"
                             EnableBetweenBox="true"
                             IsPreviewMode="true"
                             HideModeOption="true"
                             IsHideTitle="data.Option.IsHideTitle"
                             HyperStore="@HyperStore">
            </DashboardLayout>
        }
    }

    @if (!isLoadedDataResult)
    {
        <div style="position:relative;">
            <div class="loading-bar"></div>
        </div>
    }

</div>

@code{

    private bool isLoadedDataResult;

    private List<DashboardData> DataList { get; set; } = new List<DashboardData>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await AuthenticateAsync(((CustomAuthenticationStateProvider)AuthenticationStateProvider));

        await LoadDashboarList();
    }

    private async Task LoadDashboarList()
    {
        var datas = await HyperStore.FindAllAsync<DashboardData>();

        DataList = datas.Where(it => it.Option.IsDefault == true).ToList();

        isLoadedDataResult = true;
    }
}