@namespace Orions.Systems.CrossModules.Portal.Pages

@page "/properties"

@inherits PortalBaseComponent

@layout Layout

@using Orions.Infrastructure.HyperMedia
@using Syncfusion.EJ2.Blazor.DropDowns

<div class="container-fluid">


	@if (IsSelected)
	{
		<div id="selected-property" class="row">
			<div class="col-md-8 property-banner">
				<img src="/images/TheGrove.jpg" />
			</div>
			<div class="col-lg-4">
				<div class="property-container">
					<span class="separator"></span>
					<div class="col-12 property-title">
						<span>The Grove</span>
						<div @onclick="@(ev => { IsSelected = false; })" class="collapse-prop">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
							<polyline points="2.8,6.8 17.6,6.8 10.2,14.1 2.8,6.9 " />

							</svg>
						</div>
					</div>
					<span class="separator"></span>
					<div class="property-visitors mt-3">
						<span class="icon visitors-icon"><img src="/icons/shoe.png" /></span>
						<span class="stat-progress" style="width: 75%;"></span>
						<span class="stat-value opacity-medium">75%</span>
					</div>
					<div class="property-users mt-2">
						<span class="icon users-icon"><img src="/icons/girl.png" /></span>
						<span class="stat-progress" style="width: 95%;"></span>
						<span class="stat-value opacity-medium">95%</span>
					</div>
					<div class="property-hour-clock max-hour-clock mt-3">
						<div>
							<span class="icon max-hour-icon"><img src="/icons/clock-plus.png" /></span>
							<span class="icon day-icon"><img src="/icons/calander.png" /></span>
							<span class="stat-value opacity-medium">[3:30 PM, 5:00 PM]</span>
						</div>
						<div>
							<span class="icon"></span>
							<span class="icon week-icon"><img src="/icons/week.png" /></span>
							<span class="stat-value opacity-medium">[WED, FRI, SAT]</span>
						</div>
						<div>
							<span class="icon"></span>
							<span class="icon month-icon"><img src="/icons/month.png" /></span>
							<span class="stat-value opacity-medium">[2ND, 4TH]</span>
						</div>
					</div>
					<div class="property-hour-clock min-hour-clock mt-2">
						<div>
							<span class="icon min-hour-icon"><img src="/icons/clock-minus.png" /></span>
							<span class="icon day-icon"><img src="/icons/calander.png" /></span>
							<span class="stat-value opacity-medium">[9:10 AM, 1:00 PM, 7:45 PM]</span>
						</div>
						<div>
							<span class="icon"></span>
							<span class="icon week-icon"><img src="/icons/week.png" /></span>
							<span class="stat-value opacity-medium">[MON, WED]</span>
						</div>
						<div>
							<span class="icon"></span>
							<span class="icon month-icon"><img src="/icons/month.png" /></span>
							<span class="stat-value opacity-medium">[3RD]</span>
						</div>
					</div>
					<div class="property-notification mt-3">
						<span class="icon notification-icon"><img src="/icons/bell.png" /></span>
						<span class="stat-value small-text opacity-medium">None</span>
					</div>
					<div class="property-updated mt-2">
						<span class="icon updated-icon"><img src="/icons/clock.png" /></span>
						<span class="stat-value opacity-medium">Last Modified: 12:27 PM</span>
					</div>
					<div class="property-action">
						<EjsDropDownList TValue="string" TItem="Stories"
											  Placeholder="Select a story"
											  ShowClearButton="true"
											  ValueChanged="@OnSelectStory"
											  DataSource="@LocalData">
							<DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
						</EjsDropDownList>
					</div>

				</div>
			</div>
		</div>
	}

	<div class="row">
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">Miramar Beach Resort<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/MiramarBeachResort.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">Palisades Village<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/PalisadesVillage.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container" @onclick="@(ev => { IsSelected = true; })">
				<div class="property-title">
					<a href="#">The Grove<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/TheGrove.jpg" />
				</div>
				<div class="coming-soon"></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">The Americana At Brand<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/TheAmericanaAtBrand.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">Americana Luxury Apartments<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/AmericanaLuxuryApartments.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">8500<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/8500.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">The Commons At Calabasas<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/TheCommonsAtCalabasas.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">Encino Marketplace<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/EncinoMarketplace.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">Excelsior<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/Excelsior.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">The Laskes At Thousand Oaks<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/TheLaskesAtThousandOaks.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">The Masonic Temple<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/TheMasonicTemple.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">The Promenade At Westlake<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/ThePromenadeAtWestlake.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">252 South Brand Blvd.<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/252SouthBrandBlvd.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">Village At Moorpark<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/VillageAtMoorpark.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
		<div class="col-lg-3 property-card">
			<div class="property-container">
				<div class="property-title">
					<a href="#">Waterside At Marina Del Rey<span></span></a>
				</div>
				<div class="property-banner">
					<img src="/images/WatersideAtMarinaDelRey.jpg" />
				</div>
				<div class="coming-soon"><span>Coming Soon</span></div>
			</div>
		</div>
	</div>

</div>

@code{

	private string GroveRedirectTag = "Escalator";
	public bool IsSelected { get; set; }

	List<Stories> LocalData = new List<Stories>();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		if (HyperStore != null)
		{
			await LoadPublishedDashboards();
		}
	}

	private async Task LoadPublishedDashboards()
	{
		// Pull only the descriptor versions - make sure Published property id descriptor available.
		var findArgs = new FindHyperDocumentsArgs(false);
		findArgs.SetDocumentType(typeof(DashboardData));
		findArgs.DescriptorConditions.AddCondition(nameof(DashboardData.Published), true);

		var datas = await findArgs.ExecuteAsync<DashboardData>(HyperStore);

		var data = datas.Where(it => it != null && it.Published == true && !string.IsNullOrWhiteSpace(it.Tag)).ToList();

		foreach (var item in data)
		{
			var story = new Stories()
			{
				ID = item.Tag,
				Text = item.Name
			};
			LocalData.Add(story);
		}
	}

	public class Stories
	{
		public string ID { get; set; }
		public string Text { get; set; }
	}

	private void OnSelectStory(string data)
	{
		var address = NavigationManager.BaseUri + "dashboard/" + data;
		NavigationManager.NavigateTo(address, true);
	}
}
