/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
	/*padding-top: 50px;*/
	padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
	width: 100%;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
	/* Hide captions */
	.carousel-caption {
		display: none;
	}
}

.dropdown-menu > li {
	color: black;
}

	.dropdown-menu > li > a {
		font-size: 1.3em;
		color: black;
	}

input {
	color: black !important;
}

a[title="Go to the last page"] {
	display: none;
}

.icon::before {
	display: inline-block;
	/*margin-right: .5em;*/
	position: absolute;
	line-height: 1.2;
	margin-top: 7px;
	margin-left: 3px;
	font: normal normal normal 12px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}

.breadcrumb {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}

    .breadcrumb > li a {
        color: inherit;
    }

    .breadcrumb > .active {
        color: inherit;
    }

.label {
    background-color: #D1DADE;
    color: #5E5E5E;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: 0.25em;
    line-height: 1;
    white-space: nowrap;
}

.label-primary, .badge-primary {
    background-color: #0094ff;
    color: #FFFFFF;
}

.label-success, .badge-success {
    background-color: #1c84c6;
    color: #FFFFFF;
}

.label-warning, .badge-warning {
    background-color: #f8ac59;
    color: #FFFFFF;
}

.label-warning-light, .badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}

.label-danger, .badge-danger {
    background-color: #ED5565;
    color: #FFFFFF;
}

.label-info, .badge-info {
    background-color: #23c6c8;
    color: #FFFFFF;
}

.label-inverse, .badge-inverse {
    background-color: #262626;
    color: #FFFFFF;
}

.label-white, .badge-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
}

.label-white, .badge-disable {
    background-color: #2A2E36;
    color: #8B91A0;
}

.badge {
    background-color: #D1DADE;
    color: #5E5E5E;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
    white-space: nowrap;
}


/* New Timeline style */
.vertical-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

    .vertical-container::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }

#vertical-timeline {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

    #vertical-timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #f1f1f1;
    }

.vertical-timeline-content .btn {
    float: right;
}

#vertical-timeline.light-timeline:before {
    background: #e7eaec;
}

.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
}

.dark-timeline.center-orientation .vertical-timeline-content:before {
    border-color: transparent transparent transparent #f5f5f5;
}

.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,
.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
}

.dark-timeline .vertical-timeline-content,
.dark-timeline.center-orientation .vertical-timeline-content {
    background: #f5f5f5;
}

@media only screen and (min-width: 1170px) {
    #vertical-timeline.center-orientation {
        margin-top: 3em;
        margin-bottom: 3em;
    }

        #vertical-timeline.center-orientation:before {
            left: 50%;
            margin-left: -2px;
        }
}

@media only screen and (max-width: 1170px) {
    .center-orientation.dark-timeline .vertical-timeline-content:before {
        border-color: transparent #f5f5f5 transparent transparent;
    }
}

.vertical-timeline-block {
    position: relative;
    margin: 2em 0;
}

    .vertical-timeline-block:after {
        content: "";
        display: table;
        clear: both;
    }

    .vertical-timeline-block:first-child {
        /*margin-top: 0;*/
    }

    .vertical-timeline-block:last-child {
        margin-bottom: 0;
    }

@media only screen and (min-width: 1170px) {
    .center-orientation .vertical-timeline-block {
        margin: 4em 0;
    }

        .center-orientation .vertical-timeline-block:first-child {
            margin-top: 0;
        }

        .center-orientation .vertical-timeline-block:last-child {
            margin-bottom: 0;
        }
}

.vertical-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 3px solid #f1f1f1;
    text-align: center;
}

    .vertical-timeline-icon i {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -9px;
    }

@media only screen and (min-width: 1170px) {
    .center-orientation .vertical-timeline-icon {
        width: 50px;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        font-size: 19px;
    }

        .center-orientation .vertical-timeline-icon i {
            margin-left: -12px;
            margin-top: -10px;
        }

    .center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
        visibility: hidden;
    }
}

.vertical-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
}

    .vertical-timeline-content:after {
        content: "";
        display: table;
        clear: both;
    }

    .vertical-timeline-content h2 {
        font-weight: 400;
        margin-top: 4px;
    }

    .vertical-timeline-content p {
        margin: 1em 0;
        line-height: 1.6;
    }

    .vertical-timeline-content .vertical-date {
        float: left;
        font-weight: 500;
    }

.vertical-date small {
    color: #0094ff;
    font-weight: 400;
}

.vertical-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
    .vertical-timeline-content h2 {
        font-size: 18px;
    }

    .vertical-timeline-content p {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1170px) {
    .center-orientation .vertical-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }

        .center-orientation .vertical-timeline-content::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: white;
        }

        .center-orientation .vertical-timeline-content .btn {
            float: left;
        }

        .center-orientation .vertical-timeline-content .vertical-date {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 2px;
            font-size: 14px;
        }

    .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
        float: right;
    }

        .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: white;
        }

        .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
            float: right;
        }

        .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
            left: auto;
            right: 122%;
            text-align: right;
        }

    .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
        visibility: hidden;
    }
}

/* Custom Styles*/

.image-timeline-container {
    position: absolute;
    display: contents;
}

.timeline {
	padding: 0px !important;
	min-height: 145px;
}

    .timeline .player-icon {
        position: inherit;
        left: calc(50% - 27px) !important;
        top: calc(50% - 26px) !important;
        color: #9d9d9d !important;
        width: 47px;
        height: 52px;
    }

.timeline-contextmenu {
	z-index: 10010 !important
}

.box-timeline {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

/* Timeline stream icon */
.stream .stream-date-badge {
	width: 50px;
}
	.stream .stream-date-badge i {
		border: 1px solid #e7eaec;
		border-radius: 50%;
		padding: 2px;
		color: #808486;
		position: absolute;
		background-color: #ffffff;
		top: -8px;
		/*left: 26px;*/
	}

.timeline-tag-elements-count-info .label {
	top: 4px;
}

.timeline-tag-elements-count-info .label {
	line-height: 10px;
	padding: 2px 5px;
	position: absolute;
	right: -10px;
	font-size: 9px;
	top: -3px;
}

ul.timeline-tag-list li {
	list-style: none;
}

.timeline-tag-list li {
	float: left;
}

	.timeline-tag-list li a {
		font-size: 10px;
		background-color: #f3f3f4;
		padding: 2px 3px;
		color: inherit;
		border-radius: 2px;
		border: 1px solid #e7eaec;
		margin-right: 5px;
		margin-top: 3px;
		display: block;
	}

.timeline-elements-container .timeline-tag-list {
	margin: 0px;
}


.timeline-icon-bg {
	background-color: #75797b;
	color: #ffffff;
}

@media only screen and (min-width: 1170px) {
	.center-orientation .vertical-timeline-block {
		margin-top: -100px !important;
	}

		.center-orientation .vertical-timeline-block:first-child {
			margin-top: 0 !important;
		}


	.center-orientation .vertical-timeline-content .vertical-date {
		left: 106% !important;
		top: 45% !important;
	}

	.center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
		right: 106% !important;
		left: unset !important;
	}

	.vertical-timeline-block:nth-child(odd) .box-timeline {
		margin-left: 3px;
	}

	.vertical-timeline-block:nth-child(odd) .btn {
		float: right;
	}

	.vertical-timeline-block:nth-child(even) .btn {
		float: left !important;
	}

	.vertical-timeline-block:nth-child(odd) .tag-list li {
		float: right !important;
	}

	.vertical-timeline-block:nth-child(even) .box-timeline {
		margin-right: 3px;
	}

	.vertical-timeline-block:nth-child(odd) > .vertical-timeline-content .video-col-timeline {
		-ms-flex-order: 13;
		order: 13;
	}

	.vertical-timeline-block:nth-child(odd) > .vertical-timeline-content .img-responsive {
		float: right;
	}

	.vertical-timeline-block:nth-child(odd) > .vertical-timeline-content .details-col-timeline {
		text-align: right;
	}

	.vertical-timeline-block:nth-child(odd) .timeline-short-btns {
		top: 7px;
		left: 7px;
	}

	.vertical-timeline-block:nth-child(even) .timeline-short-btns {
		top: 7px;
		right: 15px;
	}

	.vertical-timeline-block:nth-child(odd) .breadcrumb-timeline {
		float: right;
	}

	.vertical-timeline-block:nth-child(odd) .stream .stream-date-badge i {
		left: 30px;
	}

	.vertical-timeline-block:nth-child(even) .stream .stream-date-badge i {
		right: 30px;
	}

	.vertical-timeline-block:nth-child(odd) .timeline-tag-list li {
		float: right;
	}

	.vertical-timeline-block:nth-child(odd) .video-col-timeline img {
		float: right;
	}

	#vertical-timeline.center-orientation {
		margin-top: 3em;
		margin-bottom: 3em;
	}

		#vertical-timeline.center-orientation:before {
			/* left: 50%; */
			margin-left: -2px;
		}

	.vertical-timeline-block:nth-child(odd) .timeline-elements-container {
		margin-right: -5px;
	}

	.center-orientation .vertical-timeline-icon {
		width: 22px !important;
		height: 22px !important;
		margin-left: -14px !important;
		font-size: 10px !important;
	}

	.center-orientation .vertical-timeline-icon {
		width: 50px;
		height: 50px;
		left: 50%;
		margin-left: -25px;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		font-size: 19px;
	}

	.timeline-icon-bg {
		background-color: #75797b;
		color: #ffffff;
	}

	.center-orientation .vertical-timeline-icon {
		top: calc(45% - 13px);
		width: 20px !important;
		height: 20px !important;
		margin-left: -13px !important;
		font-size: 10px !important;
	}

		.center-orientation .vertical-timeline-icon i {
			width: 22px !important;
			height: 22px !important;
			margin-left: -11px !important;
			margin-top: -6px !important;
		}
}

@media only screen and (max-width: 1170px) {
	.vertical-timeline-block .timeline-short-btns {
		top: 7px;
		right: 15px;
	}

	.box-timeline {
		margin-right: 75px;
	}

	.vertical-timeline-content .vertical-date {
		float: left;
		font-weight: 500;
		position: absolute;
		top: -20px;
		left: -35px;
	}

	.vertical-timeline-content {
		background-color: transparent !important;
	}

	.vertical-timeline-block .stream .stream-date-badge i {
		left: -14px;
		top: 2px
	}

	.vertical-date-label {
		position: inherit;
		top: 1px;
		left: 9px;
	}

	.vertical-timeline-icon {
		top: -17px !important;
		left: 11px !important;
		width: 15px !important;
		height: 15px !important;
		font-size: 8px !important;
		border: 1px solid #f1f1f1 !important;
	}

		.vertical-timeline-icon i {
			width: 16px;
			height: 16px;
			margin-left: -8px;
			margin-top: -4px;
		}

}

@media only screen and (max-width: 768px) {
	img.timeline {
		width: 100%;
	}
}



.details-col-timeline > h4 {
	padding-top: 7px;
}

timeline.center-orientation {
	margin-top: 0px !important;
}

.center-orientation .vertical-timeline-content {
	z-index: 9999;
}

.timeline-short-btns {
	position: absolute;
	font-size: 18px;
}

.timeline-short-btns a {
	color:#808080;
}

.timline-tag-title {
	margin-bottom: 3px;
}

.breadcrumb-timeline {
	background-color: transparent !important;
}

.breadcrumb-item-timeline {
	padding-left: 2px !important;
}

	.breadcrumb-item-timeline:before {
		padding-right: 2px;
		display: inline-block;
		color: #6c757d;
		/*content: "/";*/
	}



.propertyGrid,
.k-window-titlebar.k-header {
	border: hidden !important;
}

	.propertyGrid tr.mark-dirty-row {
		background-color: #acacac;
	}

.searchclear {
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}


.treeContextMenuBtn, .treeContextMenuBtn, .treeContextMenuTitle {
	display: inline-block;
	vertical-align: middle;
}

.treeContextMenuBtn {
	margin-left: 3px;
}

	.treeContextMenuBtn a,
	.contextMenuBtn a {
		margin-right: 10px;
		font-size: 18px;
	}

		.treeContextMenuBtn a:last-child {
			margin-right: 10px;
		}

.treeContextMenuTitle {
	line-height: 15px;
	padding-left: 3px;
}

.contextMenuBtn {
	margin-left: 3px;
	width: 100px
}

.Inactive, .Active, .Loaded, .Loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.Inactive {
	border: solid 1px #808080;
}

.Active, .Loaded {
	background-color: green !important;
}

.Loading {
	background-color: yellow !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.overflow-hidden-y {
	overflow-y: hidden !important;
}

.overflow-hidden-x {
	overflow-x: hidden !important;
}

.k-grid .k-alt {
	background-color: #f2f2f2; /* specify the alternate background-color */
}

.k-grid .k-grid-header .k-header,
.k-grid .k-grid-header .k-header .k-link,
.k-grid .k-grid-header .k-header .k-header-column-menu {
	background-color: #3f51b5;
	color: #fff;
}

.k-grid .k-grid-header .k-i-sort-asc-sm,
.k-grid-header .k-i-sort-desc-sm,
.k-grid-header .k-sort-order {
	color: #fff;
}

div.k-grid-content.k-auto-scrollable > table > tbody > tr > td {
	font-size: 13px !important;
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

.k-link.k-pager-nav.k-pager-last, .k-link.k-pager-nav.k-pager-first, .k-pager-info.k-label {
	display: none !important;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile-avatar img {
	height: 30px;
	width: 30px;
}

.logo-element {
	padding: 10px 0px;
}

	.logo-element img {
		height: 35px;
		width: 35px;
	}

	.logo-element.large {
		text-align: center;
		font-size: 18px;
		color: white;
		display: block;
		padding: 0px;
	}

.select {
	cursor: pointer;
}

.welcome h2 {
	margin: 5px 5px 5px 30px;
}

.welcome img {
	height: 35px;
	width: 35px;
}

.nav-header {
	padding: 10px;
}

body.mini-navbar .nav-header {
	padding: 0;
	background-color: #18232b;
}

body.mini-navbar .logo-element.large {
	display: none;
}

.certificate-img {
	width: 90px;
	height: auto;
}

.navbar-top-links li a {
	padding: 10px;
}

.count-info .label {
	top: 4px;
}

.element-container {
	border: 1px solid #e1e8ed;
	background: #FFF;
	border-radius: 6px;
	padding: 20px;
}

.headline {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
}

	.headline h2,
	.headline h3,
	.headline h4 {
		margin: 0 0 -2px 0;
		padding-bottom: 5px;
		display: inline-block;
		border-bottom: 2px solid #0094ff;
	}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
	width: 20px;
	height: 20px;
	margin-top: 0px;
	margin-left: -25px;
}

.select-row {
	background-color: silver;
}

.row.wrap-space {
	display: flex;
	flex-wrap: wrap;
}

.hidden {
	display: none;
}

@media (min-width: 168px) {
	.navbar-right {
		float: right !important;
		margin-right: -15px;
	}

	.navbar-top-links li:last-child {
		margin-right: 40px !important;
	}
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

@media (max-width: 992px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.company-container {
		margin: 0 0 0 0px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-width: 1199px) {
	.company-container {
		width: 100%;
	}
}

@media print {
	nav.navbar-static-side {
		display: none;
	}

	body {
		overflow: visible !important;
	}

	#page-wrapper {
		margin: 0;
	}
}

.panel-title {
	color: black;
}

.btn-danger, .btn-primary {
	color: #fff !important;
}

.k-tabstrip-wrapper,
.k-widget.k-tabstrip {
    padding: 0px;
}

.k-tabstrip .k-content {
    padding: 0px 5px 0px 5px;
}

.timeline-container {
    overflow: auto !important;
}

.timeline-json-container,
.timeline-filter-container,
.timeline-assets-container,
.dark-timeline {
    overflow: hidden !important;
}

.loading-panel {
    text-align: center;
}

.timeline-bottom {
    height: 200px;
}

.k-content.k-state-active {
    border-bottom: none !important;
}


.loading-bar {
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 250px);
    width: 500px;
    height: 6px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

    .loading-bar::after {
        content: '';
        display: block;
        width: 200px;
        height: 100%;
        background-color: #ff6458;
        animation: progressbar-slide 1s infinite;
        animation-timing-function: ease-in-out;
    }


@keyframes progressbar-slide {
    0% {
        transform: translateX(-200px);
    }

    70% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(500px);
    }
}

.loader-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ff6458;
    display: inline-block;
    -webkit-animation: grow 2.1s infinite ease-in-out both;
    animation: grow 2.1s infinite ease-in-out both;
}

    .loader-dot.dot1 {
        -webkit-animation-delay: -0.96s;
        animation-delay: -0.96s;
    }

    .loader-dot.dot2 {
        -webkit-animation-delay: -0.48s;
        animation-delay: -0.48s;
    }

@-webkit-keyframes grow {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

.k-content.k-window-content.k-dialog-content {
    padding: 0px;
}

ul.k-tabstrip-items.k-reset {
    height: 53px;
}

.playerModal {
    padding: 0px;
    background-color: black;
}
.json-textarea {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    padding: 0px;
    margin: 0px;
}
