@namespace Orions.Systems.CrossModules.Desi
@using Orions.Systems.CrossModules.Desi.Components.ConfirmationPopup
@using Orions.Systems.CrossModules.Desi.Components.Popper
@using Orions.Systems.CrossModules.Desi.Components.SessionIsOverPopup

@inherits AppComponentBase

@if (this.IsSettingsInitialized && LoginPageVisited)
{
	<Router AppAssembly="@typeof(Program).Assembly">
		<Found Context="routeData">
			<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>

}
else
{
	<div>Loading...</div>
}
<ConfiramtionPopup @ref="ConfirmationPopupComponent" />
<PopperServiceComponent @ref="PopperServiceComponent" />
<SessionIsOverPopup @ref="SessionIsOverPopup" />