@namespace Orions.Systems.CrossModules.Desi
@using Orions.Systems.CrossModules.Desi.Components.ModalPopup

@inherits AppComponentBase

@if (this.IsSettingsInitialized)
{
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    <ModalPopup/>
}
else
{
    <div>Loading...</div>
}
