.missions-page-container {
	display: flex;
	height: 100%;
}

.missions-widget-container {
	$container-padding: 8px;
	$ordinaryColor: #E9E9E9;
	$borderRadius: 5px;

	display: flex;
	flex-direction: column;
	width: 75%;
	margin-right: 20px;

	.mission-search-container {
		$search-icon-size: 35px;

		padding: $container-padding;
		background-color: $ordinaryColor;
		margin-bottom: 15px;
		border-radius: $borderRadius;

		input {
			padding: 5px;
			width: calc(100% - 45px);
			float: left;
			border: 2px solid $gray-600;
		}

		svg {
			width: $search-icon-size;
			height: $search-icon-size;
			float: right;
			color: $gray-400;
			padding: 5px;
		}

		&:after {
			content: "";
			clear: both;
			display: table;
		}
	}

	.mission-list-container {
		border-radius: $borderRadius;
		background-color: $ordinaryColor;
		display: flex;
		flex-direction: column;
		height: 100%;

		.misssion-list-header {
			font-weight: bold;
			padding: $container-padding;
			display: flex;

			.header-label {
				flex: 1;
			}

			.sorting-orders a {
				font-weight: normal;
				color: #b1b7c4;
				cursor: pointer;
				margin-left: 4px;
			}

			.sorting-orders a.active {
				font-weight: normal;
				color: #4d5f87;
			}

			.sorting-orders a:visited {
				color: inherit;
			}
		}

		.mission-list-items-container {

			.mission-item {
				padding: $container-padding;
				border-top: 1px solid $gray-400;
				position: relative;

				.mission-thumbnail-container {
					width: 100px;
					height: 100px;
					border: 5px solid white;
					border-radius: 3px;
					background: black;
					float: left;

					img {
						object-fit: contain;
						width: 100%;
						height: 100%;
					}
				}

				.mission-description-container {
					float: left;
					margin-left: 15px;
					padding-top: 5px;
					width: calc(100% - 120px);

					.mission-title {
						font-weight: bold;
					}

					.started-label {
						color: $gray-600;
					}

					.status-label {
						color: $gray-600;
					}
				}

				.enter-mission-btn {
					display: none;
					position: absolute;
					bottom: 20px;
					right: 30px;
				}

				&:hover .enter-btn {
					display: block;
				}

				&:after {
					content: "";
					clear: both;
					display: table;
				}
			}
		}
	}
}

.available-nodes-widget-container {
	width: 25%;
	height: 100%;
	background-color: #f1efd6;
	border-radius: 6px;

	& > div {
		padding: 5px;
		width: 100%;
	}

	.widget-header {
		border-bottom: 1px solid #dbdac8;
		font-size: 1.2em;
		color: black;
		text-align: center;
	}

	.nodes-list {
		.node-list-item-container {
			.node-details{
				width:calc(100% - 50px);
				overflow:hidden;
				float:left;

				.node-name {
					font-weight: bold;
					font-size: 1.2em;
				}

				.node-url {
					padding-left: 10px;
				}
			}

			.node-status-icon-container {
				float: right;
				padding-left: 5px;
				padding-top: 10px;
				margin-right:10px;

				img{
					height:30px;
				}
			}
		}
	}
}
