.simple-filter-container {
	display: flex;

	.simple-filter-items-container {
		display: flex;

		.simple-filter-item {
			flex-grow: 1;
			margin: 4px 10px;
		}
	}

	.simple-filter-btn-container {
		display: block;
		padding: 7px 14px 7px 7px;
		min-width: 160px;
		text-align: center;

		.simple-filter-btn-item {
			display: inline-flex;
		}
	}

	.button-group-control .row {
		width: 100%;
		text-align: right;
		display: inline-block;
	}
}
