@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<SimpleSVGMapVm, SimpleSVGMapWidget>

<div class="widget-content-report">

	@if (Widget.ShowTitle)
	{
		<h3>@Widget.Label</h3>
	}

	<SVGMap Zone="@Widget.Zone" OnClickZone="@OnSelectZone"></SVGMap>

	<div style="text-align:center;">@SelectZoneMsg</div>

</div>

@code {

	private string SelectZoneMsg;

	private void OnSelectZone(string zone) {
		SelectZoneMsg = $"Selected zone is {zone}";
	}
}

<style>
	.hide-zone {
		fill: #159c7000;
	}

	.zone-over{
		fill: #13513A !important;
	}

	.st0 {
		fill: #4f4e4e !important;
	}

	.st12 {
		fill: #3f3e3e !important;
		stroke: #cacaca;
		stroke-width: 1.1px !important;
		stroke-miterlimit: 10;
	}
</style>