@namespace Orions.Systems.CrossModules.Components
@inherits BaseVanillaColorPicker


    <div @ref="Ref" id="@ParentId" class="@Class" style="@string.Format("{0} background: {1};", Style, Color)">
        @Value
    </div>
