@model IndexModel

@await Html.PartialAsync("_missionProgressFilter", Model)

<div class="row">
	<div class="col-lg-4">
		<h2 class="hidden" id="missionStatisticTitle"><img src="~/images/statistic-icon.png" />Mission Statistic</h2>
		<div id="missionStatistic" data-template="_missionStatistic-side">

		</div>
		<div id="statisticChartLoading"></div>
	</div>
	<div class="col-lg-8">
		<div id="missionProgress">
			<h2 id="missionProgressTitle" class="hidden"><img src="~/images/progress-icon.png" />Mission Progress</h2>
			@await Html.PartialAsync("_missionProgressDiagram", Model)

			@await Html.PartialAsync("_missionProgressDiagramSparklines", Model)
		</div>
	</div>
</div>