@model IndexModel

@await Html.PartialAsync("_missionProgressFilter", Model)

<div id="missionProgress">
	<h2 id="missionProgressTitle" class="hidden"><img src="~/images/progress-icon.png" />Mission Progress</h2>
	@await Html.PartialAsync("_missionProgressDiagram", Model)

	@await Html.PartialAsync("_missionProgressDiagramSparklines", Model)

</div>

<div class="m-t-md">
	<h2 class="hidden" id="missionStatisticTitle"><img src="~/images/statistic-icon.png" />Mission Statistic</h2>
	<div id="missionStatistic" data-template="_missionStatistic-b4">

	</div>
	<div class="row">
		<div id="statisticChartLoading"></div>
	</div>
</div>
