@model IndexModel

<div id="missionProgressFilterId" class="row p-1">
	<div class="col-md-2 p-1">
		@(Html.Kendo().DropDownList()
					.Name("Instances")
					.DataTextField("Label")
					.DataValueField("Id")
					.DataSource(source =>
					{
						source.Read(read =>
						{
							read.Action("GetMissionInstances", "MissionAnalytics", new { missionId = Model.MissionId });
						});
					})
					.Value(Model.Instance)
					.HtmlAttributes(new { style = "width: 100%" })
					.Deferred()
		)
	</div>
	<div class="col-md-2 p-1">
		@(Html.Kendo().DropDownList()
					.Name("Stages")
					.DataTextField("Text")
					.DataValueField("Value")
					.BindTo(Model.StagesOptions)
					.Value(Model.Instance)
					.HtmlAttributes(new { style = "width: 100%", disabled = "true" })
					.Deferred()
		)
	</div>
	@*<div class="col-md-2 p-1">
		@(Html.Kendo().DropDownList()
					.Name("Nodes")
					.DataTextField("Label")
					.DataValueField("Id")
					.DataSource(source =>
					{
						source.Read(read =>
						{
							read.Action("FindNodes", "MissionAnalytics", new { missionId = Model.MissionId });
						});
					})
					.Value(Model.NodeId)
					.HtmlAttributes(new { style = "width: 100%" })
					.Deferred()
		)
	</div>*@
	<div class="col-md-2 p-1">
		@(Html.Kendo().DropDownList()
					.Name("Days")
					.DataTextField("Text")
					.DataValueField("Value")
					.BindTo(Model.DaysOptions)
					.Value(Model.ReportDays)
					.HtmlAttributes(new { style = "width: 100%" })
					.Deferred()
		)
	</div>

	<div class="col-md-5 p-1">
		<button onclick="onChangeFilter(this)" class="btn btn-default " type="button">
			<i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh
		</button>
	</div>
	<div class="col-md-1 order-12 p-1">
		<div class="dropdown float-right">
			<button class="btn btn-default dropdown-toggle" 
					type="button" 
					title="Mission Analytics Mode"
					id="dropdownMenuButton" 
					data-toggle="dropdown" 
					aria-haspopup="true" 
					aria-expanded="false">
				<i class="fa fa-bars"></i> Mode
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" data-mode="1" onclick="updateMode(this)"><i class="fa fa-columns"></i> Split</a>
				<a class="dropdown-item" data-mode="2" onclick="updateMode(this)"><i class="fa fa-th-large"></i> Compact</a>
				<a class="dropdown-item" data-mode="3" onclick="updateMode(this)"><i class="fa fa-th"></i> Normal</a>
			</div>
		</div>
	</div>
</div>
