@model IndexModel

<div class="row sparkline">
		<div class="col-lg-3">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Session:</h5>
				</div>
				<div class="ibox-content">
					<span id="session-log"></span>
					<div id="seesionChartLoading"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>New Taggers:</h5>
				</div>
				<div class="ibox-content">
					<span id="new-taggers-log"></span>
					<div id="newTaggersChartLoading"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>Exploitation Saturation:</h5>
				</div>
				<div class="ibox-content">
					<span id="exploitation-saturation-log"></span>
					<div id="exploitationSaturationChartLoading"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox ">
				<div class="ibox-title">
					<h5>Completion Percent:</h5>
				</div>
				<div class="ibox-content">
					<span id="completion-percent-log"></span>
					<div id="completionPercentChartLoading"></div>
				</div>
			</div>
		</div>
</div>
