@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<MetadataTagReviewVm, MetadataTagReviewWidget>

<div class="widget-content-report">
	@if (Widget.ShowTitle)
	{
		<h3>@Widget.Label</h3>
	}

	<div class="widget-content-report-view">
		<MetadataReview></MetadataReview>
	</div>
</div>

@code {
}

<style>
		.widget-content-report-view section {
			color: #018786;
			font-size: 14px;
		}

		.widget-content-report-view p {
			text-align: justify;
		}
</style>
