@namespace Orions.Systems.CrossModules.Pages
@page "/color-picker"

@inherits BaseOrionsComponent

@using Syncfusion.EJ2.Blazor.Inputs
@using Newtonsoft.Json.Linq

<h3>Color Picker</h3>

<hr>
<h5>RGB Color</h5>

<EjsColorPicker @ref="colorPicker" CssClass="form-control" Value="@Color" Mode="ColorPickerMode.Picker" ValueChange="HandleColor"></EjsColorPicker>

<hr>

<div>
	Selected Hex Color is: @ColorValue.hex
</div>
<div>
	Selected RGB Color is: @ColorValue.rgba
</div>

@code{

	private EjsColorPicker colorPicker;

	public string Color { get; set; } = "000";

	public GetCurrentValue ColorValue { get; set; } = new GetCurrentValue();


	public void HandleColor(ColorPickerEventArgs args)
	{

		ColorValue = ((JObject)args.CurrentValue).ToObject<GetCurrentValue>();

		//HexColor = color;
		//var t = await colorPicker.GetValue(color);

		//var d = colorPicker.Value;

		this.StateHasChanged();
	}

	public class GetCurrentValue
	{
		public string hex { get; set; }
		public string rgba { get; set; }
	}

}
