
$leftSideBarWidth: 350px;


@mixin shared-card-control-common {
	padding: 2px 3px;
	margin: auto 0;
}

.solution-explorer-container {
	height: 100%;

	.shared-card-explorer-control-container {
		height: 100%;


		.shared-card-control-row {
			margin: 0;
			padding: 0;
			height: 40px;

			.shared-card-control-refresh {
				@include shared-card-control-common;

				cursor: pointer;
				display: flex;

				.cmd-refresh {
					padding: 6px 0 0 0;
					transition: 0.5s;
					border: 1px solid rgba(255, 255, 255, 0.00);

					&:hover {
						background-color: rgba(15, 39, 217, 0.09);
						border: 1px solid grey;
						transition: 0.5s;
					}
				}
			}

			.shared-card-control-time-range {
				@include shared-card-control-common;
			}

			.shared-card-control-search {
				@include shared-card-control-common;

				.form-control {
					height: 30px;
				}
			}

			.shared-card-control-toggle {
				@include shared-card-control-common;
				cursor: pointer;
			}

			.shared-card-container {
				.brd-creator {
					background-color: orange;
				}

				.brd-item-creator {
					background-color: green;
				}

				.crd-tab-creator {
					background-color: red;
				}
			}
		}
	}
}

/* SIDEBAR  */

.sidebar-content.e-content-animation {
	transform: none !important;
}

/* Left Sidebar */

.left-sidebar-container {
	width: $leftSideBarWidth;
	height: 100%;
	position: relative;
	background-color: #ebeaea73;
}

.left-sidebar {
	position: absolute;
	width: 100%;
	height: 100%;
}


.menu-items-container {
	display: flex;
	flex-wrap: wrap;
}

.side-item {
	flex-grow: 1;
	margin: 0px 3px;
	padding: 2px 0;
	width: 100%;

	.side-item-container {
		display: flex;
		padding: 3px;

		.side-status-bar {
			width: 5px;
			min-height: 14px;
		}

		.side-item-main {
			flex-grow: 1;
			padding-left: 7px;

			.side-item-lbl {
				font-weight: 700;
				text-align: center;
				font-size: 14px;
				min-height: 14px;
			}

			.side-item-desc {
				text-align: center;
				font-size: 12px;
				letter-spacing: 0.5px;
				min-height: 12px;
			}
		}

		.side-item-action {
			display: flex;
			justify-content: flex-end;
			margin: auto 0;
			min-width: 50px;

			.cmd {
				cursor: pointer;
			}

			.cmd-properties {
				opacity: 0.2;
				transition: 0.5s;
				padding: 4px 2px;
				display: flex;

				&:hover {
					background-color: #A092BE;
					transition: 0.5s;
				}
			}

			.cmd-tab {
				padding: 5px 10px;
				border-left: 1px solid #e7e7e2;
				background-color: #f6f6f6;
				transition: 0.5s;

				&:hover {
					background-color: #bbbce3;
					border: none;
					transition: 0.5s;
				}
			}

			.cmd-active {
				padding: 2px 5px;
				margin-left: 3px;
				margin: auto 0;
				font-size: 13px;
			}

			.ca-plus {
				background-color: black;
				color: white !important;
				transition: 0.5s;

				&:hover {
					background-color: #A092BE !important;
					transition: 0.5s;
				}
			}

			.ca-minus {
				border: 1px solid black;
				transition: 0.5s;

				&:hover {
					background-color: #A092BE !important;
					color: white !important;
					transition: 0.5s;
				}
			}

			.cmd-expand {
				padding: 5px 10px;
				border-left: 1px solid #e7e7e2;
				transition: 0.5s;
				margin-left: 4px;
				transition: 0.5s;

				&:hover {
					background-color: #A092BE;
					border: none;
					transition: 0.5s;
				}
			}

			.cmd-favourite {
				opacity: 0.2;
				transition: 0.5s;
				padding: 4px 2px;
				display: flex;

				&:hover {
					background-color: #A092BE;
					transition: 0.5s;
				}
			}

			.cmd-help {
			}
		}

		&:hover {
			cursor: pointer;

			.cmd-properties, .cmd-favourite {
				opacity: 1;
				transition: 0.5s;
			}
		}
	}

	.brd-default {
		border: 1px solid #e7e7e2;
		border-radius: 5px;
		background-color: white;

		&:hover {
			background-color: #d1d1d1;
		}
	}

	.brd-creator {
		background-color: #C0DE14;

		&:hover {
			background-color: #d1d1d1;
		}
	}
}


