
@inherits LeftSideMenuBase

<div class="left-sidebar-container">
	<div class="left-sidebar">

		<SolutionExplorerControl ></SolutionExplorerControl>

		@*<div class="menu-items-container">

			@foreach (var item in Items)
			{
				<div class="side-item">
					<div class="side-item-lbl">@item.TitleProp?.Value</div>
					<div class="side-item-desc">@item.DescriptionProp?.Value</div>
				</div>
			}
		</div>*@
	</div>
	<div class="left-sidebar-dragbar"></div>
</div>

@if (!Enable)
{
	<style>
		.left-sidebar-container {
			display: none;
		}

		.sidebar-content {
			margin-left: 70px !important;
		}
	</style>
}
