@inherits LayoutComponentBase
@using Orions.Systems.CrossModules.Portal.Providers
@using Syncfusion.EJ2.Blazor.SplitButtons
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<TelerikRootComponent>
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <EjsDropDownButton Content="@context.User.Identity.Name">
                        <DropDownButtonEvents ItemSelected="OnItemSelected"></DropDownButtonEvents>
                        <DropDownButtonItems>
                            <DropDownButtonItem Id="Logout" Text="Logout"></DropDownButtonItem>
                        </DropDownButtonItems>
                    </EjsDropDownButton>
                </Authorized>
                <NotAuthorized>
                    <input type="button" class="btn btn-outline-dark" value="Login" @onclick="(() => Logout())" />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</TelerikRootComponent>

@code{
    private async Task Logout()
    {
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).LogOut();

        NavigationManager.NavigateTo("/login");
    }

    public async Task OnItemSelected(MenuEventArgs args)
    {
        if (args.Element.ID.Equals("Logout", StringComparison.InvariantCultureIgnoreCase))
        {
            await Logout();
        }
    }
}
