@namespace Orions.Systems.CrossModules.Components.Components.DashboardLayout.Widget.Module.EditableMap
@using  Orions.Systems.CrossModules.Components.Components.SVGMapEditor
@inherits DashboardComponent<EditableMapWidgetVm, EditableMapWidget>

@if (Widget.ShowTitle)
{
	<h3>@Widget.Label</h3>
}

<SVGMapEditor Vm="@EditorVm">
	<SampleMap/>
</SVGMapEditor>

@code{
	protected SVGMapEditorVm EditorVm { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var vm = new SVGMapEditorVm();

		vm.HyperArgsSink = this.HyperStore;
		vm.MapOverlayId = this.Widget.MapOverlayId;

		EditorVm = vm;

		vm.OnMapOverlayIdSet = async (string id) =>
		{
			this.Widget.MapOverlayId = id;
			await this.DashboardVm.SaveChangesAsync();
		};
	}
}
