@namespace Orions.Systems.CrossModules.Components.Components.DashboardLayout.Widget.Module.EditableMap
@using  Orions.Systems.CrossModules.Components.Components.SVGMapEditor
@using  Orions.Node.Common
@inherits DashboardComponent<EditableMapWidgetVm, EditableMapWidget>
@*@inherits EditableMapWidgetBase*@

<TitleCard Settings="Widget.TitleSettings"></TitleCard>

<div class="widget-svg-map-editor-container">
	<SVGMapEditor Vm="@Vm.EditorVm">
		@((MarkupString)Vm.SvgHtmlString)
	</SVGMapEditor>
</div>

<style>
	.widget-svg-map-editor-container {
		height: 800px;
		width: 100%;
	}
</style>

@code{
	protected override async Task OnInitializedAsync()
	{
		await this.Vm.Initialize();

		await base.OnInitializedAsync();
	}
}
