<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Sandbox</a>
</div>

<MatNavMenu Class="mat-nav">
    <MatNavItem Href="/"> <MatIcon Icon="view_module"></MatIcon> Home</MatNavItem>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false">
                <MatIcon Icon="group"></MatIcon>&nbsp; Property Grid
            </MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="property-grid/"> On Page</MatNavItem>
            <MatNavItem Href="property-grid/missions"> Missions - TelericGrid</MatNavItem>
            <MatNavItem Href="property-grid/workflows"> Workflows - MatBlazorGrid</MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>
    <MatNavItem Href="color-picker"> <MatIcon Icon="invert_colors"></MatIcon> Color Picker</MatNavItem>
    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false">
                <MatIcon Icon="cloud_upload"></MatIcon>&nbsp; Upload File
            </MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="upload"> Upload Signle File</MatNavItem>
            <MatNavItem Href="upload/multi"> Upload Multu File</MatNavItem>
            <MatNavItem Href="upload/dragdrop-viewer"> Upload Drag & Drop</MatNavItem>
            <MatNavItem Href="upload/native"> Native Upload</MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>

</MatNavMenu>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


<style>
    .mat-nav, .mat-nav a {
        color: #d7d7d7;
    }
        .mat-nav .mdc-list-item--selected {
             background-color: #04173d;
        }

</style>
