@namespace Orions.Systems.CrossModules.Components

@using Orions.Node.Common

@inherits WidgetComponent<SimpleHtmlVm, SimpleHtmlWidget>

<div class="widget-content-demo-simple">
   @if (DataContext.Widget.ShowTitle)
   {
      <h3>@DataContext.Widget.Label</h3>
   }

   <section>
      @((MarkupString)DataContext.Widget.RawHtml)
   </section>
</div>

@code {
}

<style>
   .widget-content-demo-simple {
      padding: 20px;
      overflow: hidden;
   }

      .widget-content-demo-simple h3 {
         text-align: center;
      }

      .widget-content-demo-simple section {
         color: #018786;
         font-size: 12px;
      }

      .widget-content-demo-simple p {
         text-align: justify;
      }
</style>