/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.danger {
    background-color: #e89393;
}

.wanring {
    background-color: #eadc98;
}

.pgrid-row {
    border: solid 1px rgba(167, 165, 165, 0.39);
    padding: 3px 7px;
}

.pgrid-data>.input[type="text"] {
    width: 100%;
}
