/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
	border: 2px dashed red;
	padding: 1em;
	margin: 1em 0;
	background-image: url('background.png');
}

/* Important part */
.modal-dialog {
	overflow-y: initial !important
}

.modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}


h5.modal-title {
	text-transform: uppercase;
	margin: 5px 0px;
}

.common-text {
	color: white;
}

.common-table-border {
	border: 1px solid #55545f;
}

/* 
    START DASHBOARD LAYOUT COMPONENT
*/

.dashboard-cmd-btn .material-icons {
	cursor: pointer;
	opacity: 0.5;
	transition: 0.5s;
}

.dashboard-cmd-btn:hover .material-icons {
	opacity: 1;
	transition: 0.5s;
}

.dashboard-header {
	margin-bottom: 23px;
}

.dashboard-title {
	display: inline-block;
}

	.dashboard-title svg {
		height: 35px;
		width: 35px;
		fill: #898888;
	}

.dashboard-element-container {
	width: 100%;
	position: relative;
}

.dashboard-element-container-live {
	width: 100%;
}

.dashboard-content {
	overflow: hidden;
	position: relative;
}

.dashboard-row-container {
	background-color: #f4f4f49e;
	/*padding: 15px 5px;*/
}

.dashboard-content > .dashboard-element-commands {
	position: relative;
	line-height: initial;
	z-index: 99998;
	float: right;
	margin: 2px 15px;
	opacity: 0.2;
	transition: 0.5s;
}

.dashboard-widget-inner-container .dashboard-element-commands {
	position: relative;
	line-height: initial;
	text-align: right;
	margin: 2px;
	z-index: 99998;
	opacity: 0.2;
	transition: 0.5s;
}

.dashboard-widget-inner-container-item-element {
	padding: 0px 10px 0px 0px !important;
}

	.dashboard-widget-inner-container-item-element:last-child {
		padding: 0px !important;
	}

.dashboard-widget-inner-container-data {
	border: 1px dashed lightgray;
	margin: 0px;
	padding: 5px;
}

	.dashboard-widget-inner-container-data .dashboard-widget-add {
		padding: 0px 0px 10px 0px;
	}


.dashboard-element-commands svg {
	height: 20px;
	width: 20px;
}

.dashboard-element-container:hover .dashboard-content > .dashboard-element-commands {
	opacity: 1;
	transition: 0.5s;
}

.dashboard-widget-inner-container-data:hover .dashboard-element-commands {
	opacity: 1;
	transition: 0.5s;
}

.dashboard-element-commands > a {
	cursor: pointer;
	z-index: 99999;
	margin-left: 2px;
}

/*.dashboard-element-commands > a:hover {
		background-color: transparent !important;
		-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
		box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
	}*/

.dashboard-element-commands .dashboard-element-commands-split-horisontal svg {
	fill: black;
}

.dashboard-element-commands .dashboard-element-commands-delete svg {
	fill: black;
}


.dashboard-widget-container {
	border: 1px solid #c4c2c2;
	padding: 30px 15px;
	position: relative;
	margin: 2px 0px 7px 0px;
	background-color: white;
}

.dashboard-widget-container-flex {
	display: flex;
}

.dashboard-widget-container:hover .dashboard-content-next,
.dashboard-widget-container:hover .dashboard-content-prev {
	opacity: 1;
	transition: 0.5s;
}

.dashboard-widget-container .dashboard-widget-icon {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	cursor: pointer;
}

.dashboard-widget-container .dashboard-widget-data-container {
	flex-grow: 1;
	display: flex;
}

	.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-label {
		font-size: 22px;
		color: gray;
		flex-grow: 1;
		margin: auto;
	}

	.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands {
		display: inline-block;
		text-align: center;
		margin: auto 0px;
	}

		.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands a {
			margin-right: 5px;
		}

		.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands svg {
			height: 20px;
			width: 20px;
			opacity: 0.2;
			transition: 0.5s;
		}

	.dashboard-widget-container .dashboard-widget-data-container:hover .dashboard-widget-commands svg {
		opacity: 1;
		transition: 0.5s;
	}

	.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands .dashboard-widget-command-clean {
		fill: red;
	}

	.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands .dashboard-widget-command-settings {
		fill: black;
	}

.dashboard-widget-command-enable svg {
	fill: #34fe00;
}

.dashboard-widget-add {
	text-align: center;
	width: 100%;
}

.dashboard-between-content {
	position: absolute;
	top: 0px;
	right: -15px;
	width: 30px;
	height: 200px;
	z-index: 88888;
	opacity: 0.2;
	transition: 0.5s;
}

	.dashboard-between-content:hover {
		opacity: 1;
		transition: 0.5s;
	}

.dashboard-dragbar {
	position: absolute;
	height: 30px;
	width: 30px;
	cursor: col-resize;
	top: calc(50% - 25px);
	right: -15px;
	z-index: 99999;
}

	.dashboard-dragbar rect, .dashboard-dragbar polygon {
		fill: #888888 !important;
	}

.dashboard-swap-column {
	position: absolute;
	cursor: pointer;
	height: 24px;
	width: 25px;
	top: 35px;
	right: -13px;
	z-index: 99999;
}

	.dashboard-swap-column path, .dashboard-swap-column line {
		fill: none;
		stroke: #888888;
		stroke-width: 2px;
	}

.dashboard-content-prev {
	left: 6px;
}

.dashboard-content-next {
	right: 6px;
}

.dashboard-content-next, .dashboard-content-prev {
	height: 25px;
	width: 25px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 99999;
	opacity: 0.2;
	transition: 0.5s;
}

	.dashboard-content-next polygon, .dashboard-content-prev polygon {
		stroke: #888888;
		stroke-width: 2px;
		fill: none;
	}


.dashboard-widget-add-icon svg {
	width: 55px;
	height: 55px;
}

.dashboard-widget-add > a {
	cursor: pointer;
}

	.dashboard-widget-add > a:hover {
		/*-webkit-box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);*/
	}

.dashboard-widget-add-icon {
	fill: #939393;
	cursor: pointer;
}

	.dashboard-widget-add-icon:hover {
		fill: #447ABE;
	}

.dashboard-between-row {
	position: absolute;
	width: calc(100% - 80px);
	height: 25px;
	margin-top: -24px;
	margin-left: 14px;
	right: 10px;
}

	.dashboard-between-row .dashboard-between-row-container {
		position: relative;
		opacity: 0.2;
		transition: 0.5s;
		float: right;
	}

		.dashboard-between-row .dashboard-between-row-container .dashboard-swap-row,
		.dashboard-between-row .dashboard-between-row-container .dahsboard-clone-row {
			display: inline-block;
			margin: 0px 3px;
			cursor: pointer;
		}

			.dashboard-between-row .dashboard-between-row-container .dashboard-swap-row svg,
			.dashboard-between-row .dashboard-between-row-container .dahsboard-clone-row svg {
				width: 20px;
				height: 20px;
			}

		.dashboard-between-row .dashboard-between-row-container:hover {
			opacity: 1;
			transition: 0.5s;
		}

/*.dahsboard-clone-row svg {
	width: 20px;
	height: 20px;
}

.dashboard-swap-row svg {
	width: 20px;
	height: 20px;
}*/

.dashboard-modal-widget-header {
	padding: 4px 15px !important;
}

.dashboard-modal-widget-body {
	padding: 0px !important;
}

.dashboard-modal-widget-element {
	margin: 10px auto !important;
	padding: 7px 0px;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
}

.dashboard-shadow {
	/*-webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);*/
}

@media only screen and (max-width: 992px) {
	.dashboard-swap, .dashboard-dragbar, .dashboard-swap-row, .dashboard-content-prev, .dashboard-content-next {
		display: none;
	}

	.dashboard-element-container {
		margin-bottom: 1.5rem;
	}
}

.dashboard-widget-inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.dashboard-widget-inner-container-item {
	width: 100%;
	/*border: 1px dashed lightgray;*/
	margin: 5px 0px;
	padding: 10px;
	display: flex;
}

.dashboard-widget-inner-add a {
	margin-bottom: -20px;
}

.dashboard-slide-container {
	padding: 5px 5px;
	border: 1px dashed lightgray;
	margin: 7px 20px;
}

	.dashboard-slide-container .dashboard-widget-icon {
		opacity: 0.3;
		transition: 0.5s;
	}

	.dashboard-slide-container:hover .dashboard-widget-icon {
		opacity: 1;
		transition: 0.5s;
	}

	.dashboard-slide-container .dashboard-widget-icon svg {
		height: 35px;
		width: 35px;
		margin-top: 5px;
		margin-left: 15px
	}


.widget-slide-container {
}

	.widget-slide-container .widget-slide-container-nav {
	}

		.widget-slide-container .widget-slide-container-nav .widget-slide-container-nav-icon {
			text-align: left;
		}

			.widget-slide-container .widget-slide-container-nav .widget-slide-container-nav-icon a {
				cursor: pointer;
				opacity: 0.6;
				transition: 0.4s;
			}

				.widget-slide-container .widget-slide-container-nav .widget-slide-container-nav-icon a:hover {
					opacity: 1;
					transition: 0.4s;
				}

			.widget-slide-container .widget-slide-container-nav .widget-slide-container-nav-icon:hover {
				opacity: 1;
				transition: 0.4s;
			}

			.widget-slide-container .widget-slide-container-nav .widget-slide-container-nav-icon.right {
				text-align: right;
			}

			.widget-slide-container .widget-slide-container-nav .widget-slide-container-nav-icon.hidden a {
				display: none;
			}

	.widget-slide-container .widget-slide-container-data {
		display: none;
	}

		.widget-slide-container .widget-slide-container-data.active {
			display: block;
		}



/* Modal - Widget list */

.dashboard-modal {
	z-index: 999999 !important;
}

.dashboard-list-name {
	cursor: pointer;
}


.modal-dashboard-widget-container {
	box-sizing: border-box;
	text-align: center;
}

.modal-dashboard-widget-element-container {
	/* display: block; */
	/* text-align: center; */
	display: block;
	padding: 30px 10px;
	border-right: 1px solid #edf0f5;
	border-bottom: 1px solid #edf0f5;
}


.modal-dashboard-widget-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.modal-dashboard-widget-container ul li {
		line-height: 18px;
		float: left;
		width: 33.3%;
		background: #fff;
		overflow: hidden;
		-webkit-transition: all .4s;
		transition: all .4s;
		text-align: center;
		cursor: pointer;
	}

.modal-dashboard-widget-element-container .dashboard-modal-widget-element-icon {
	display: inline-block;
	margin-bottom: 10px;
	opacity: .4;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.modal-dashboard-widget-element-container:hover .dashboard-modal-widget-element-icon {
	opacity: 1;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.dashboard-modal-widget-element-icon, dashboard-modal-widget-element-icon svg {
	width: 38px;
	height: 38px;
}


/* End Modal - Widget List*/

/* Widget Icons*/

.icon-text-block > .icon-text-block-item {
	fill: none;
	stroke: #000000;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.icon-block-chain {
}

/* End Widget Icons*/

/*   START WIDGET DASHBOARD  */

.widget-content-report {
	padding: 15px;
	overflow: hidden;
}

	.widget-content-report h3 {
		text-align: center;
	}

.widget-content-report-footer {
	font-size: 12px;
}

.widget-content-report-footer-name {
	font-weight: bold;
}

.widget-content-report-footer-create {
	font-style: italic;
}

.widget-missing-report {
	text-align: center;
}

.widget-content-report-progress-line-container {
	display: flex;
}

.widget-content-report-progress-line-icon {
	transform: scale(0.9);
	text-align: center;
	width: 50px;
	margin-right: 13px;
}

	.widget-content-report-progress-line-icon svg {
		width: 50px;
		padding: 1px;
	}

.widget-content-report-progress-line-progress {
	/*padding: 18px;*/
	margin: auto;
	flex-grow: 1;
}

.progress-line .stat-progress {
	background-color: #bcbec4;
}

.widget-content-report-progress-line-svg {
	width: 65px;
	padding: 10px 10px;
}


.title-card-container {
	color: #365c7e;
	margin: 10px 0px;
}

.progress-line {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0px;
}

	.progress-line .stat-title {
		vertical-align: middle;
		font-weight: bold;
		display: inline-block;
		font-size: 14px;
		letter-spacing: 2px;
		color: #807e7e;
		flex: 0 0 25%;
		max-width: 25%;
		text-transform: uppercase;
		color: #365c7e;
	}

	.progress-line .icon {
		display: inline-flex;
		width: 12px;
		vertical-align: middle;
	}

		.progress-line .icon img {
			width: 12px;
		}

.stat-container {
	flex: 0 0 75%;
	max-width: 75%;
}

.progress-line .stat-progress {
	background-color: #bcc0cc;
	display: inline-flex;
	height: 12px;
	border-radius: 10px;
	vertical-align: middle;
	line-height: 20px;
}

.progress-line .stat-container {
	display: inline-block;
	/*width: 70%;*/
	flex: 0 0 75%;
	max-width: 75%;
}

.progress-line .stat-value {
	vertical-align: middle;
	font-weight: bold;
	color: #807e7e;
	margin-left: 10px;
	opacity: .5;
	font-size: 18px;
}

.separator-line-container {
	width: 100%;
}

.separator-line {
	display: inline-block;
	margin: auto;
}

.widget-single-analytics-title {
	font-size: 12px;
	color: #365c7e;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.widget-single-analytics-container {
	display: inline-flex;
	vertical-align: middle;
}

widget-single-analytics-icon {
	vertical-align: middle;
}

	widget-single-analytics-icon img {
		vertical-align: middle;
		width: 30px;
	}

.widget-single-analytics-icon svg {
	width: 30px;
	vertical-align: middle;
	fill: rgb(57, 93, 127);
	margin-top: 7px;
}

.widget-single-analytics-value {
	margin-left: 10px;
	display: inline-flex;
	opacity: .5;
	font-size: 40px;
	vertical-align: middle;
	margin-top: -8px;
	letter-spacing: 6px;
}

/*    END WIDGET DASHBOARD  */


/*    END DASHBOARD LAYOUT COMPONENT */


/* Transportation widget */

.widget-content-report-transportation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.widget-content-report-transportation-container {
	width: 24%;
	padding-bottom: 0%; /* 32:18, i.e. 16:9 */
	margin-bottom: 2%; /* (100-32*3)/2 */
}

.widget-content-report-transportation-container-item {
	text-align: center;
	display: flex;
	flex-direction: row;
}

	.widget-content-report-transportation-container-item .widget-content-report-transportation-container-data {
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
		margin: auto;
	}

		.widget-content-report-transportation-container-item .widget-content-report-transportation-container-data svg {
			height: 70px;
			width: 70px;
			fill: #365c7e;
		}

		.widget-content-report-transportation-container-item .widget-content-report-transportation-container-data .widget-content-report-transportation-container-title {
			text-transform: uppercase;
			color: #365c7e;
			font-size: 14px;
			letter-spacing: 2px;
		}

	.widget-content-report-transportation-container-item .widget-content-report-transportation-container-value {
		margin: auto;
		font-weight: bold;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		opacity: .5;
		font-size: 23px;
	}


/* End transportation widget */


/* Icons */

.bodyTypeStHead {
	fill: none;
	stroke: #3A5D7F;
	stroke-width: 3;
	stroke-miterlimit: 10;
}

.bodyTypeStBody {
	fill: #395D7F;
}

.icon-pie-chart {
}

	.icon-pie-chart .icon-pie-chart-item-0 {
		fill: #EF785A;
	}

	.icon-pie-chart .icon-pie-chart-item-1 {
		fill: #EFC41C;
	}

	.icon-pie-chart .icon-pie-chart-item-2 {
		fill: #566181;
	}

	.icon-pie-chart .icon-pie-chart-item-3 {
		fill: #71C386;
	}

.icon-line-chart {
}

	.icon-line-chart .icon-line-chart-item-0 {
	}

	.icon-line-chart .icon-line-chart-item-1 {
		fill: #EFC41C;
	}

	.icon-line-chart .icon-line-chart-item-2 {
		fill: #566181;
	}

	.icon-line-chart .icon-line-chart-item-3 {
		fill: #71C386;
	}

	.icon-line-chart .icon-line-chart-item-4 {
		fill: #EF785A;
	}

	.icon-line-chart .icon-line-chart-item-5 {
		fill: #566181;
	}

.icon-map {
}

	.icon-map .icon-map-item-0 {
		fill: #59BC69;
	}

	.icon-map .icon-map-item-1 {
		fill: #6CBF61;
	}

	.icon-map .icon-map-item-2 {
		fill: #FFDB56;
	}

	.icon-map .icon-map-item-3 {
		fill: #B0E1F1;
	}

	.icon-map .icon-map-item-4 {
		fill: #FDBA26;
	}

	.icon-map .icon-map-item-5 {
		fill: #F04E4E;
	}

	.icon-map .icon-map-item-6 {
		fill: #E73540;
	}

	.icon-map .icon-map-item-7 {
		fill: #33A2DB;
	}

/* End Icons */
