/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
	border: 2px dashed red;
	padding: 1em;
	margin: 1em 0;
	background-image: url('background.png');
}

/* Important part */
.modal-dialog {
	overflow-y: initial !important
}

.modal-body {
	max-height: calc(100vh - 200px);
	overflow-y: auto;
}


.common-text {
	color: white;
}

.common-table-border {
	border: 1px solid #55545f;
}

/* 
    START DASHBOARD LAYOUT COMPONENT
*/
.dashboard-title {
	display: inline-block;
}

	.dashboard-title rect {
		fill: #898888 !important;
	}

.dashboard-element-container {
	/*height: 200px;*/
	width: 100%;
	/*border-style: dashed;*/
	/*border-color: darkgrey;*/
	/*border-width: 1px;*/
	/*text-align: center;*/
	/*background-color: #f8f8f8;*/
	position: relative;
}

.dashboard-element-container-live {
	width: 100%;
}

.dashboard-content {
	/*line-height: 200px;*/
	/*height: 200px;*/
	overflow: hidden;
	position: relative;
}

.dashboard-row-container {
	background-color: #F0F1F5;
	/*padding: 15px 5px;*/
}

.dashboard-element-commands {
	position: relative;
	line-height: initial;
	z-index: 99998;
	float: right;
	margin: 2px 15px;
	opacity: 0.2;
}

	.dashboard-element-commands svg {
		height: 20px;
		width: 20px;
	}

.dashboard-element-container:hover .dashboard-element-commands {
	opacity: 1;
}

.dashboard-element-commands > a {
	cursor: pointer;
	z-index: 99999;
	margin-left: 2px;
}

/*.dashboard-element-commands > a:hover {
		background-color: transparent !important;
		-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
		box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
	}*/

.dashboard-element-commands .dashboard-element-commands-split-horisontal svg {
	fill: black;
}

.dashboard-element-commands .dashboard-element-commands-delete svg {
	fill: black;
}


.dashboard-widget-container {
	display: flex;
	border: 1px solid #c4c2c2;
	padding: 30px 15px;
	position: relative;
	margin: 2px 0px 7px 0px;
	background-color: white;
}

	.dashboard-widget-container:hover .dashboard-content-next,
	.dashboard-widget-container:hover .dashboard-content-prev {
		opacity: 1;
	}

	.dashboard-widget-container .dashboard-widget-icon {
		width: 50px;
		height: 50px;
		margin-right: 20px;
	}

	.dashboard-widget-container .dashboard-widget-data-container {
		flex-grow: 1;
		display: flex;
	}

		.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-label {
			font-size: 22px;
			color: gray;
			flex-grow: 1;
		}

		.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands {
			display: inline-block;
			text-align: center;
			margin: auto 0px;
		}

			.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands a {
				margin-right: 5px;
			}

			.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands svg {
				height: 20px;
				width: 20px;
				opacity: 0.2
			}

		.dashboard-widget-container .dashboard-widget-data-container:hover .dashboard-widget-commands svg {
			opacity: 1
		}

		.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands .dashboard-widget-command-clean {
			fill: red;
		}

		.dashboard-widget-container .dashboard-widget-data-container .dashboard-widget-commands .dashboard-widget-command-settings {
			fill: black;
		}

.dashboard-widget-add {
	text-align: center;
	width: 100%;
}

.dashboard-between-content {
	position: absolute;
	top: 0px;
	right: -15px;
	width: 30px;
	height: 200px;
	z-index: 88888;
}

.dashboard-dragbar {
	position: absolute;
	height: 30px;
	width: 30px;
	cursor: col-resize;
	top: calc(50% - 25px);
	right: -15px;
	z-index: 99999;
}

	.dashboard-dragbar rect, .dashboard-dragbar polygon {
		fill: #888888 !important;
	}

.dashboard-swap-column {
	position: absolute;
	cursor: pointer;
	height: 24px;
	width: 25px;
	top: 35px;
	right: -13px;
	z-index: 99999;
}

	.dashboard-swap-column path, .dashboard-swap-column line {
		fill: none;
		stroke: #888888;
		stroke-width: 2px;
	}

.dashboard-content-prev {
	left: 6px;
}

.dashboard-content-next {
	right: 6px;
}

.dashboard-content-next, .dashboard-content-prev {
	height: 25px;
	width: 25px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 99999;
	opacity: 0.2;
}

	.dashboard-content-next polygon, .dashboard-content-prev polygon {
		stroke: #888888;
		stroke-width: 2px;
		fill: none;
	}


.dashboard-widget-add-icon svg {
	width: 55px;
	height: 55px;
}

.dashboard-widget-add > a {
	cursor: pointer;
}

	.dashboard-widget-add > a:hover {
		/*-webkit-box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);
	box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.25);*/
	}

.dashboard-widget-container .dashboad-svg-icon, .dashboard-widget-container .dashboard-widget-icon {
	fill: #939393;
}

.dashboard-widget-container a:hover .dashboad-svg-icon, .dashboard-widget-container a:hover .dashboard-widget-icon {
	fill: #447ABE;
}

.dashboard-between-row {
	position: absolute;
	width: calc(100% - 335px);
	height: 25px;
	margin-top: -24px;
	margin-left: 14px;
	margin-right: -118px;
}

.dashboard-swap-row {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0px;
	left: 12px;
}

	.dashboard-swap-row path, .dashboard-swap-row line {
		fill: none;
		stroke: #888888;
		stroke-width: 2px;
	}

.dashboard-modal-widget-header {
	padding: 4px 15px !important;
}

.dashboard-modal-widget-body {
	padding: 0px !important;
}

.dashboard-modal-widget-element {
	margin: 10px auto !important;
	padding: 7px 0px;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.25);
}

.dashboard-shadow {
	/*-webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);*/
}

@media only screen and (max-width: 992px) {
	.dashboard-swap, .dashboard-dragbar, .dashboard-swap-row, .dashboard-content-prev, .dashboard-content-next {
		display: none;
	}

	.dashboard-element-container {
		margin-bottom: 1.5rem;
	}
}


/* Modal - Widget list */

.dashboard-modal {
	z-index: 999999 !important;
}

.dashboard-list-name {
	cursor: pointer;
}


.modal-dashboard-widget-container {
	box-sizing: border-box;
	text-align: center;
}

.modal-dashboard-widget-element-container {
	/* display: block; */
	/* text-align: center; */
	display: block;
	padding: 30px 10px;
	border-right: 1px solid #edf0f5;
	border-bottom: 1px solid #edf0f5;
}


.modal-dashboard-widget-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

	.modal-dashboard-widget-container ul li {
		line-height: 18px;
		float: left;
		width: 33.3%;
		background: #fff;
		overflow: hidden;
		-webkit-transition: all .4s;
		transition: all .4s;
		text-align: center;
		cursor: pointer;
	}

.dashboard-modal-widget-element-icon {
	display: inline-block;
	margin-bottom: 10px;
	opacity: .3;
	transition: opacity .3s;
	-webkit-transition: opacity .3s;
}

.dashboard-modal-widget-element-icon, dashboard-modal-widget-element-icon svg {
	width: 38px;
	height: 38px;
}

/* End Modal - Widget List*/

/* Widget Icons*/

.icon-text-block > .icon-text-block-item {
	fill: none;
	stroke: #000000;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}

.icon-block-chain {
}

/* End Widget Icons*/

/*   START WIDGET DASHBOARD  */

.widget-content-report {
	padding: 15px;
	overflow: hidden;
}

	.widget-content-report h3 {
		text-align: center;
	}

.widget-content-report-footer {
	font-size: 12px;
}

.widget-content-report-footer-name {
	font-weight: bold;
}

.widget-content-report-footer-create {
	font-style: italic;
}

.widget-missing-report {
	text-align: center;
}

.widget-content-report-progress-line-container {
	display: flex;
}

.widget-content-report-progress-line-icon {
	transform: scale(0.9);
	text-align: center;
	width: 50px;
	margin-right: 13px;
}

	.widget-content-report-progress-line-icon svg {
		width: 50px;
		padding: 1px;
	}

.widget-content-report-progress-line-progress {
	/*padding: 18px;*/
	margin: auto;
	flex-grow: 1;
}

.progress-line .stat-progress {
	background-color: #bcbec4;
}

.widget-content-report-progress-line-svg {
	width: 65px;
	padding: 10px 10px;
}

.progress-line .stat-title {
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	min-width: 50px;
	font-size: 14px;
	letter-spacing: 2px;
	color: #807e7e;
}

.progress-line .icon {
	display: inline-flex;
	width: 12px;
	vertical-align: middle;
}

	.progress-line .icon img {
		width: 12px;
	}

.progress-line .stat-progress {
	background-color: #bcc0cc;
	display: inline-flex;
	height: 6px;
	border-radius: 10px;
	vertical-align: middle;
}

.progress-line .stat-container {
	display: inline-block;
	width: 70%;
}

.progress-line .stat-value {
	vertical-align: middle;
	font-weight: bold;
	color: #807e7e;
}

.separator-line-container {
	width: 100%;
}

.separator-line {
	display: inline-block;
	margin: auto;
}


/*    END WIDGET DASHBOARD  */


/*    END DASHBOARD LAYOUT COMPONENT */

/* Icons */

.bodyTypeStHead {
	fill: none;
	stroke: #3A5D7F;
	stroke-width: 3;
	stroke-miterlimit: 10;
}

.bodyTypeStBody {
	fill: #395D7F;
}

/* End Icons */
