
.mission-editor-container {
	.mission-editor-header {

		.header-actions {

			a {
				cursor: pointer;
				opacity: 0.5;
				transition: 0.5s;
				vertical-align: top;
				max-width: 90px;

				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
			}

			.header-cmd-label {
				font-size: 12px;
				letter-spacing: 0.5px;
			}

			.verical-separator, .mission-status-container {
				display: inline-block;
			}

			.verical-separator {
				width: 1px;
				height: 60%;
				background-color: darkgray;
			}

			.mission-status-container {
				padding: 0 10px;

				.status-block {
					display: table-cell;
					vertical-align: middle;
					padding: 0 10px;
					width: 50px;
					height: 57px;
					border-radius: 3px;
					font-size: 12px;
					box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
				}
			}
		}
	}

	.spliter-container {
		position: fixed;
		height: calc(100% - 150px);
		width: calc(100% - 90px);

		.phase-header {
			background-color: #e1e1e1;
			margin-bottom: 9px !important;

			.phase-header-title {
				display: inline-block;
				padding: 10px 5px;
				letter-spacing: 0.5px;
				font-weight: 500;
			}

			.btns {
				display: inline-block;
				float: right;

				.btn {
					padding: 8px 0 0 0;
					cursor: pointer;
					opacity: 0.5;
					transition: 0.5s;

					&:hover {
						opacity: 1;
						transition: 0.5s;
					}
				}

				.material-icons {
					font-size: 20px;
				}
			}
		}

		.phase-action {
			cursor: pointer;
			border: 1px solid #979696;
			width: 100%;
			margin: 3px 0;
			text-align: left;

			&:hover {
				background-color: #ff7f504d;
			}

			.phase-label {
				display: inline-block;
				font-size: 13px;
				letter-spacing: 0.5px;
				padding: 5px 0;
			}

			.stage {
			}
		}

		.phase-btns {
			float: right;

			.btn {
				padding: 0px;
				cursor: pointer;
				opacity: 0.5;
				transition: 0.5s;

				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
			}

			.material-icons {
				font-size: 20px;
			}
		}
	}

	.cmd-delete {
		color: red !important;
	}
}
