
.workflow-container {
	.workflow-list-header {
		.header-filter {
			.list-search {
				button {
					display: inherit;
				}

				span {
					/*display: none;*/
					padding: 0px 10px 0px 9px;
					letter-spacing: 2px;
				}
			}
		}

		.header-actions {
			text-align: right;

			a {
				cursor: pointer;
				opacity: 0.5;
				transition: 0.5s;

				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
			}

			.header-cmd-label {
			}
		}
	}

	.header-title {
		font-size: 17px;
		padding: 0 0 8px 26px;
		padding: 0 0 8px 26px;
		letter-spacing: 2px;
	}

	.list-table {

		table {
			margin-bottom: 0px !important;

			.list-name {
				cursor: pointer;
			}

			.name-container {
				display: flex;
				min-height: 55px;
			}

			.workflow-status {
				height: 30px;
				width: 50px;
				margin: auto 10px;
			}

			.workflow-name {
				flex-grow: 1;
				margin: auto 0;
			}

			.list-cmd-container {
				a {
					cursor: pointer;
					opacity: 0.5;
					transition: 0.5s;

					&:hover {
						opacity: 1;
						transition: 0.5s;
					}

					.list-cmd-label {
						font-size: 11px;
					}

					.list-cmd-delete {
						color: red !important;
					}
				}
			}
		}
	}

	.no-data-container {
		height: 100%;
		width: 100%;
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;

		.no-data-text {
			font-size: 22px;
		}
	}

	.card-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: flex-start;

		.card {
			margin: 5px;
			flex: 0 0 32.43%;
			max-width: 32.43%;
		}
	}
}
