$logo-height: 50px;
$logo-margin:15px;
$sidebar-width: 66px;

html{
	height:100%;
	width:100%;
}

body{
	height:100%;
}

.main {
	display: flex;
	flex-direction: column;
	height:100%;
	overflow:hidden;

	*:focus{
		outline:none;
	}
}

.top-row {
	width: 100%;
	height: 80px;
	box-shadow: 0 0px 10px #cccccc;
	z-index: 2;
	position: relative;
	display: flex;
	padding-right: 8px;

	.logo {
		height: $logo-height;
		margin: $logo-margin;
	}

	button {
		margin-left: auto;
		border-style: hidden;
		background-color: transparent;

		&:hover {
			border-style: hidden;
			outline: none;
			transform: scale(1.03);
		}

		&:active {
			border-style: hidden;
			outline: none;
			transform: scale(0.95);
		}

		&:focus {
			border-style: hidden;
			outline: none;
		}
	}
}

.content {
	display: flex;
	align-items: stretch;
	flex: 1;
	overflow: hidden;
	max-height: 100%;

	.side-bar {
		width: $sidebar-width;
		position: relative;
		z-index: 3;
		background-color: #4a4d54;
	}

	.body-container {
		flex: 1;
		overflow: hidden;
	}

	.page-content {
		background-color: rgb(250,250,250);
		width: calc(100% - 66px);
		padding-top: 13px;
		display: flex;
		flex-direction: column;

		.footer {
			margin-top: 15px;
			display: flex;
			background-color: #1e1e1e;

			a {
				color: #7e7e7e;
				padding-bottom: 3px;
				cursor: pointer;
			}

			.footer-logo {
				.logo {
					height: $logo-height;
					margin: $logo-margin;
				}
			}

			.site-map {
				display: flex;
				flex: 1;

				.map-items-column {
					padding: 10px;
				}
			}

			.app-version {
				color: #7e7e7e;
				align-items: flex-end;
				flex-direction: row;
				display: flex;
				padding: 10px;
			}

			.logout {
				margin: 15px;
			}
		}
	}
}

.navigation-bar {
	z-index: 3;
	height: 30px;

	.back-btn {
		width: $sidebar-width;
		background-color: #0078d7;
		background-image: url('../wwwroot/images/baseline_arrow_back_white_18dp.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 20px 20px;
		height: 30px;
		border: none;
		outline: none;
	}
}

.layout-stage-tagging {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	max-width: 100%;
	width: 100%;
	border: none;

	.page-content {
		overflow: hidden;
		height: 100%;
	}
}
