$logo-height: 50px;
$logo-margin:15px;

html{
	height:100%;
	width:100%;
}

body{
	height:100%;
}

.main {
	display: flex;
	flex-direction: column;
	height:100%;
}

.top-row {
	width: 100%;
	height: 80px;
	box-shadow: 0 4px 6px #cccccc;
	z-index: 2;
	position: relative;

	.logo {
		height: $logo-height;
		margin: $logo-margin;
	}
}

.content {
	display: flex;
	align-items: stretch;
	flex:1;

	.side-bar {
		width: 66px;
		position: relative;
		z-index: 3;
		background-color: #4a4d54;
	}

	.body-container {
		flex:1;
	}

	.page-content {
		width: calc(100% - 66px);
		padding-top: 13px;
		background-color: white;
		display: flex;
		flex-direction: column;

		.footer {
			margin-top: 15px;
			display: flex;
			align-items: stretch;
			background-color: #1e1e1e;

			.footer-logo {
				.logo {
					height: $logo-height;
					margin: $logo-margin;
				}
			}

			.site-map {
				display: flex;

				.map-items-column {
					padding: 10px;

					a {
						color: #7e7e7e;
						padding-bottom: 3px;
					}
				}
			}

			.logout {
				align-self: flex-end;
			}
		}
	}
}
