
.svg-map {
	.hide-zone {
		fill: #159c70;
	}

	.zone-over {
		fill: #13513A !important;
	}
}


.svg-map {
	.svg-map-item-0 {
		fill: #E0E0E0;
	}

	.svg-map-item-1 {
		fill: #D1D3D4;
	}

	.svg-map-item-2 {
		fill: #A2D4A1;
	}

	.svg-map-item-3 {
		fill: #ADCFED;
		stroke: #A2A4A7;
		stroke-width: 0.5px;
		stroke-miterlimit: 2.1162;
	}

	.svg-map-item-4 {
		fill: none;
		stroke: #A2A4A7;
		stroke-width: 0.5px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-5 {
		fill: #FFFFFF;
		stroke: #FFFFFF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-6 {
		fill: #FFFFFF;
		stroke: #FFFFFF;
		stroke-width: 0.5px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-7 {
		fill: none;
		stroke: #808285;
		stroke-width: 0.5px;
		stroke-miterlimit: 2.1162;
	}

	.svg-map-item-8 {
		fill: none;
		stroke: #939598;
		stroke-width: 0.5px;
		stroke-miterlimit: 2.1162;
	}

	.svg-map-item-9 {
		clip-path: url(#SVGID_2_);
		fill: none;
		stroke: #808285;
		stroke-width: 0.5px;
		stroke-miterlimit: 2.1162;
	}

	.svg-map-item-10 {
		fill: none;
		stroke: #808285;
		stroke-width: 0.3px;
		stroke-miterlimit: 2.1162;
		stroke-dasharray: 0.8, 0.8;
	}

	.svg-map-item-11 {
		fill: none;
		stroke: #929497;
		stroke-width: 0.8px;
		stroke-miterlimit: 2.1162;
	}

	.svg-map-item-12 {
		fill: #B4B7B9;
		stroke: #E0F4DF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-13 {
		fill: #B4B7B9;
		stroke: #E0F4DF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-14 {
		fill: #808285;
	}

	.svg-map-item-15 {
		fill: none;
		stroke: #E0F4DF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-16 {
		fill: none;
		stroke: #BBBDBF;
		stroke-width: 0.5px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-17 {
		fill: none;
		stroke: #BBBDBF;
		stroke-width: 0.5px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-18 {
		fill: #B4B7B9;
		stroke: #E0F4DF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-19 {
		fill: #B4B7B9;
		stroke: #E0F4DF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10.0004;
	}

	.svg-map-item-20 {
		fill: #159C70;
		stroke: #E0F4DF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-21 {
		fill: #159C70;
		stroke: #E0F4DF;
		stroke-width: 0.3px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-22 {
		fill: #159C70;
		stroke: #E0F4DF;
		stroke-width: 0.2px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-23 {
		fill: #FFFFFF;
	}

	.svg-map-item-24 {
		fill: #F7F7F7;
	}

	.svg-map-item-25 {
		fill: #B4B7B9;
	}

	.svg-map-item-26 {
		fill: #808184;
	}

	.svg-map-item-27 {
		fill: #159C70;
		stroke: #E0F4DF;
		stroke-width: 0.5px;
		stroke-miterlimit: 2.1162;
	}

	.svg-map-item-28 {
		fill: #9E7E50;
	}

	.svg-map-item-29 {
		fill: #159C70;
	}

	.svg-map-item-30 {
		fill: #3B3B3C;
	}

	.svg-map-item-31 {
		fill: none;
		stroke: #FFFFFF;
		stroke-width: 0.5px;
		stroke-miterlimit: 10;
	}

	.svg-map-item-32 {
		display: none;
	}

	.svg-map-item-33 {
		display: inline;
		opacity: 0.2;
	}

	.svg-map-item-34 {
		fill: #FF009B;
	}

	.svg-map-item-35 {
		display: inline;
		opacity: 0.5;
		fill: #FF009B;
		enable-background: new;
	}
}
