@namespace Orions.Systems.CrossModules.Components

@inherits BaseBlazorComponent

@if (Settings.IsShow)
{
	<div class="title-card-container" style="@GetCardStyles()">@Settings.Title</div>

	<SeparatorLine Settings="@Settings.SepratorsSettings"></SeparatorLine>
}

@code {

	[Parameter]
	public TitleConfiguration Settings { get; set; } = new TitleConfiguration();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}

	private string GetAligmentString()
	{
		switch (Settings.Aligment)
		{
			case TitleAligment.Left:
				return "left";
			case TitleAligment.Right:
				return "right";
			default:
				return "center";
		}
	}

	private string GetUpperCaseStyle()
	{
		if (Settings.IsUppercase)
			return "text-transform: uppercase;";

		return String.Empty;
	}

	private string GetCardStyles()
	{
		return $"text-align: {GetAligmentString()}; letter-spacing: " +
				$"{Settings.LetterSpacing}px; font-size: {Settings.FontSize}px; " +
				$"{GetUpperCaseStyle()} {Settings.InlineStyles} ";
	}
}

<style>
	.title-card-container {
	}
</style>
